<div id="registerBlock" class="registerBlock not-register">
    <h3>Зареєструватися:</h3>
    <div class="clr">
        <p>
            Щоб попасти у власний кабінет, потрібно спочатку зареєструватися:
        </p>
        <div class="regSubBlock">
            <div class="regSubBlock-pic">
                <img src="images/client.png" alt="">
            </div>
            <a href="http://localhost/joulen/public/register" class="site_button-orange onlyBorder">Як клієнт</a>
        </div>
        <div class="regSubBlock">
            <div class="regSubBlock-pic">
                <img src="images/specialist.png" alt="img">
            </div>
            <a href="http://localhost/joulen/public/registration" class="site_button-orange onlyBorder">Як
                спеціаліст</a>
        </div>
    </div>
</div>