@media screen and (max-width: 992px) {

}

@media screen and (min-width: 993px) {
  .hidden-md {
    display: none;
  }
  .hidden-sm {
    display: block;
  }
}

@media screen and (max-width: 992px) {
  .hidden-sm {
    display: none !important;
  }

  .main-header {
    padding: 0;
  }
  .cabinet-page {
    padding-left: 55px;
    &.sidebar-hidden {
      .sidebar {
        width: 300px;
        .menu-item, .logout-item {
          a {
            font-size: 14px;
            .arrow {
              display: block;
            }
          }
        }
      }
    }
  }
  .sidebar {
    width: 55px;
    .menu-item, .logout-item {
      a {
        font-size: 0;
        .arrow {
          display: none;
        }
      }
    }
    &:hover, &.hidden {
      width: 300px;
      .menu-item, .logout-item {
        a {
          font-size: 14px;
          .arrow {
            display: block;
          }
        }
      }
    }
  }
  .main-footer {
    .copyright {
      position: absolute;
      left: 20px;
      z-index: 50;
    }
  }
  .footer-contacts {
    width: 100%;
    justify-content: space-between;
    .site_icon-mail-white {
      margin-left: 25px;
    }
  }

  .master-block-wrap {
    .alerts {
      position: relative;
      width: 100%;
    }
    .master-description {
      width: 100%;
    }
  }
  .verified-alert-master-wrap {
    display: flex;
  }
  .verified-master-check {
    width: 50%;
    margin-right: 30px;
  }
  .verified-master-contacts {
    width: 50%;
  }
  .master-news-visible.verified-master-news {
    display: block;
    width: 100%;
    max-width: 100%;
  }
  .verified-master-news {
    display: none;
  }

  .unchecked-alerts {
    display: flex;
  }
  .unchecked-alert-master-wrap {
    width: 50%;
    margin-right: 30px;
    .unchecked-master-contacts {
      width: 100%;
    }
    .unchecked-master-news {
      width: 50%;
    }
  }

}

@media screen and (max-width: 768px) {
  .main-footer {
    .footer-contacts {
      .site_icon-mail-white {
        margin-left: 0;
      }
    }
  }
  .master-office-item {
    flex-direction: column;
    .map {
      width: 100%;
      margin-bottom: 15px;
    }
    .master-office-photo {
      width: 100%;
    }
  }
  .cabinet-portfolio {
    padding: 10px;
  }
  .btn{
    padding: 0 18px;
  }
}

@media screen and (max-width: 700px) {
  .logo-wrap {
    width: 100%;
  }
  .cabinet-page {
    padding-left: 0;
    padding-bottom: 144px;
    &.sidebar-hidden {
      padding-left: 0;
      .sidebar {
        transform: translateX(0);
        width: 100%;
        bottom: auto;
      }
    }
  }
  .sidebar {
    width: 300px;
    transform: translateX(-100%);
    transition: transform ease .3s;
    bottom: auto;
    .menu-item a, .logout-item a {
      font-size: 14px;
      .arrow {
        display: block;
      }
    }
  }
  .cabinet-item {
    h2 {
      span {
        display: block;
      }
    }
  }
  .cabinet-page-wrap {
    padding: 10px;
  }
  .cabinet-item {
    padding: 10px;
  }
  .btn {
    width: 100%;
    margin: 5px 0;
    max-width: 100%;
  }
  .inputfile-styled {
    .input-file {
      width: 100%;
      margin-bottom: 20px;
    }
  }
  .service-region {
    .styled-checkbox {
      width: 100%;
    }
  }
  .main-footer {
    display: block;
    height: auto;
    text-align: center;
    padding-left: 20px;
    .copyright {
      padding: 20px 0;
      border-bottom: 1px solid #3b4253;
      position: relative;
      left: 0;
    }
  }
  .footer-contacts {
    flex-direction: column;
    padding: 12px 0;
    > div {
      padding: 7px 0;
      padding-left: 20px;
      margin: 0;
    }
  }
  .remodal {
    padding: 15px;
  }
}

@media screen and (max-width: 650px) {
  .cabinet-equipment {
    .equipment-list {
      flex-direction: column;
      align-items: flex-start;
      .type-equipment, .brand-equipment {
        margin-bottom: 30px;
        max-width: 100%;
      }
    }
  }

  .master-block {
    max-width: 100%;
    width: 100%;
  }
  .btn {
    margin-bottom: 20px;
  }

  .verified-alert-master-wrap {
    flex-direction: column;
    .verified-master-check {
      width: 100%;
      margin-bottom: 20px;
    }
    .verified-master-contacts {
      width: 100%;
    }
  }

  .master-block-wrap {
    .unchecked-master-news {
      display: none;
    }
  }
  .unchecked-alert-master-wrap {
    width: 100%;
    margin-right: 0;
  }
  .master-news-visible.unchecked-master-news {
    display: block;
    width: 100%;
    max-width: 100%;
  }

  //proven company
  .cabinet-profile {
    .table-block {
      border: none;
    }
  }
  .status-table {
    thead {
      display: none;
    }
    .open-table {
      display: block;
      position: absolute;
      right: 0;
      top: 50%;
      transform-origin: center;
      transform: translateY(-50%) rotate(-90deg);
    }
    .open-table.arrow-transform {
      transform: translateY(-50%) rotate(90deg);
      transform-origin: center;
    }
    .tr_id {
      display: flex;
      flex-direction: column;
      border: 1px solid #d5d8df;
      border-radius: 3px;
      margin-bottom: 10px;
      td {
        border-bottom: 1px solid #d5d8df;
        padding: 17px 0;
        margin: 0 20px;
      }
      td:nth-child(1) {
        order: 1;
        display: none !important;
      }
      td:nth-child(2) {
        order: 0;
        border: 0;
        position: relative;
        &:after {
          position: absolute;
          content: '';
          width: 1px;
          height: 30px;
          right: 35px;
          top: 50%;
          transform: translateY(-50%);
          background: #d5d8df;
        }
      }
      td:nth-child(3) {
        order: 2;
        display: none !important;
      }
      td:nth-child(4) {
        order: 4;
        display: none !important;
      }
      td:nth-child(5) {
        order: 3;
        display: none !important;
      }
      td:nth-child(6) {
        order: 5;
        border: 0;
        padding: 0 !important;
      }
      .comment-admin {
        display: none;
      }
      .accept-application {
        position: absolute;
        top: 164px;
        left: 45px;
      }
      .site-icon-edit {
        position: absolute;
        top: 18px;
        right: 65px;
        display: block !important;
        &:before {
          position: absolute;
          content: '';
          width: 1px;
          height: 30px;
          right: 35px;
          top: 50%;
          transform: translateY(-50%);
          background: #d5d8df;
        }
      }
    }
    .tr_id.active {
      td {
        display: block !important;
      }
      .comment-admin {
        display: block;
        padding: 17px 0;
      }
    }
  }

  //ORDER
  .filter-order {
    form {
      position: relative;
      .open-table {
        right: 0;
        top: 0;
        padding: 15px;
        transform-origin: center;
        transform: rotate(90deg);
      }
      .open-table.arrow-transform {
        transform: rotate(-90deg);
      }
    }
  }

  .filter-order.active {
    .formsetfilter_type_subcategory, .formsetfilter_type_home {
      display: block;
    }
  }
  .open-table {
    display: block;
  }
  .filter-order {
    .filter-radio {
      display: block;
      width: 100%;
    }
    p {
      display: none;
    }
    .formsetfilter_type_subcategory, .formsetfilter_type_home {
      padding: 10px 0;
    }
  }

  //TABLE ORDER
  .filter-order {
    .filter-radio {
      position: relative;
    }
    .formsetfilter_type_subcategory, .formsetfilter_type_home {
      display: none;
    }
  }
  .filter-order [type="radio"]:checked + label {
    display: block;
    width: 100%;
  }
  .filter-order [type="radio"]:checked + label:after {
    display: none;
  }

  .table-block-filter {
    .tr_id {
      display: flex;
      flex-direction: column;
      border: 1px solid #d5d8df;
      border-radius: 3px;
      margin-bottom: 10px;
      td {
        border-bottom: 1px solid #d5d8df;
        padding: 15px 0;
        margin: 0 20px;
        display: flex;
      }
      .table-address {
        padding-left: 25px;
        svg {
          left: 0;
        }
      }
      td:nth-child(1) {
        order: 1;
        display: none !important;
      }
      td:nth-child(2) {
        order: 0;
        padding-right: 28px;
        margin: 0 10px;
        border: 0;
        position: relative;
      }
      td:nth-child(3) {
        order: 2;
        display: none !important;
      }
      td:nth-child(4) {
        order: 4;
        border-bottom: 0;
        display: none !important;
      }
      td:nth-child(5) {
        order: 3;
        display: none !important;
      }
    }
  }
  .open-table {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%) rotate(-90deg);
  }
  .table-block-filter {
    .tr_id.active {
      td {
        display: flex !important;
      }
      td:nth-child(2) {
        border-bottom: 1px solid #d5d8df;
      }
    }
  }
  .table-block-filter {
    .open-table.arrow-transform {
      transform-origin: center;
      transform: translateY(-50%) rotate(90deg);
    }
  }

  .set-date, .set-invertor, .set-panel, .set-executor, .set-settings {
    text-align: left;
  }

  //PORTFOLIO TABLE
  .portfolio-table {
    .table-block {
      border: 0;
    }
  }
  .table-portfolio {
    .open-table.arrow-transform {
      transform: translateY(-50%) rotate(90deg);
      transform-origin: center;
    }
  }
  .table-portfolio {
    .tr_id {
      position: relative;
      margin-bottom: 10px;
      border: 1px solid #cfd3dc;
      display: block;
      border-radius: 3px;
      td {
        padding: 17px 0 !important;
        margin: 0 15px 0 15px !important;
        a {
          text-decoration: none;
          color: #32394a;
          display: inline-block;
        }
      }
      td:nth-child(3) {
        order: 1;
        display: none !important;
      }
      td:nth-child(2) {
        order: 4;
        border-bottom: 0;
        display: none !important
      }
      td:nth-child(4) {
        order: 2;
        display: none !important;
      }
      td:nth-child(1) {
        order: 0;
        padding-right: 28px;
        margin: 0 10px;
        border: 0;
        position: relative;
        display: block !important;
        &:after {
          position: absolute;
          content: '';
          width: 1px;
          height: 30px;
          right: 35px;
          top: 50%;
          transform: translateY(-50%);
          background: #d5d8df;
        }
      }
      td:nth-child(5) {
        order: 3;
        display: none !important;
      }
      td:nth-child(6) {
        order: 3;
        display: none !important;
      }
      td:nth-child(7) {
        order: 3;
        padding: 0 !important;
        a {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 65px;
          &:before {
            position: absolute;
            content: '';
            width: 1px;
            height: 30px;
            right: 35px;
            top: 50%;
            transform: translateY(-50%);
            background: #d5d8df;
          }
        }
      }
    }
    .tr_id.active {
      td {
        display: block !important;
      }
      td:nth-child(2) {
        border: 0;
      }
      td:nth-child(7) {
        display: none;
        border: 0;
        a {
          //top: 25px;
          display: none;
        }
      }

    }
  }

}

@media screen and (max-width: 480px) {
  .master-block-wrap {
    .master-check svg {
      left: -5px;
    }
  }
  .form-portfolio {
    flex-direction: column;
    max-height: 100%;
    .set-panel-photo {
      width: 100%;
      max-height: 250px;
      margin-bottom: 15px;
      overflow: hidden;
    }
    .set-invertor-photo {
      width: 100%;
      max-height: 250px;
      overflow: hidden;
    }
  }
  #hellopreloader_preload {
    .preloader {
      top: 55%;
    }
  }
}

@media screen and (max-width: 425px) {
  .master-block {
    padding-left: 0;
    max-width: 100%;
    width: 100%;
    .master-photo {
      position: relative;
      width: 100%;
      height: 100%;
    }
  }
}

@media screen and (max-width: 380px) {
  .table-portfolio .tr_id td a {
    max-width: 150px;
  }
}
