@import "compass/reset";
@import "icons";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  outline: none;
}

body {
  background: #edeff4;
  font-family: 'Open Sans', sans-serif, Arial;
  font-weight: 400;
  font-size: 14px;
  color: rgb(50, 57, 74);
  line-height: 1.25;
  /*padding-bottom: 80px;*/
  position: relative;
  min-height: 100%;
  overflow-y: scroll;
}

h1 {
  font-size: 24px;
  margin-bottom: 15px;
}

a {
  color: rgb(56, 142, 221);
  text-decoration-style: dotted;
  text-decoration-line: underline;
  text-decoration-color: rgb(44, 92, 214);
  cursor: pointer;
}

b {
  font-weight: 600;
}

ul {
  list-style-type: none;
}

.btn {
  padding: 0 30px;
  line-height: 44px;
  height: 44px;
  border-radius: 3px;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  margin-right: 30px;
  text-decoration: none;
  display: inline-block;
}

.btn-modal-apply {
  text-align: center;
  margin-top: 15px;
}

.btn-primary {
  background-color: #388edd;
  color: #fff;
  &:hover {
    background-color: lighten(#388edd, 5%);
  }
}

.btn-secondary {
  background-color: #e6e8ee;
  color: #32394a;
  max-width: 160px;
  &:hover {
    background-color: darken(#e6e8ee, 5%);
  }
}

input {
  &[type=text], &[type=password], &[type=button], &[type=submit] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
  }
}

@media screen and (min-width: 767px) {
  html {
    height: 100%;
  }
}

.container-fluid {
  width: 100%;
}

.container {
  background: #fff;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.orderRegion {
  .select2-container {
    width: 94% !important;
  }
}

.select2-container {
  .select2-selection--single {
    height: 40px;
  }
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 40px;
  padding-right: 47px;
  padding-left: 10px;
}

.select2-container--default {
  .select2-selection--single .select2-selection__arrow {
    height: 30px;
    position: absolute;
    top: 5px;
    right: 1px;
    width: 45px;
    b {
      width: 8px;
      height: 8px;
      border: none;
      border-left: 1px solid #6c707b;
      border-bottom: 1px solid #6c707b;
      transform: rotate(-45deg);
      margin-top: -4px;
    }
  }

  &.select2-container--open {
    .select2-selection--single {
      .select2-selection__arrow {
        b {
          border: none;
          border-left: 1px solid #6c707b;
          border-bottom: 1px solid #6c707b;
          transform: rotate(135deg);
          transform-origin: 38% 70%;
        }
      }
    }
  }
}

input[type=text], textarea, input[type=password] {
  font-family: 'Open Sans', sans-serif, Arial;
  font-weight: 400;
  font-size: 13px;
  color: #212121;
  line-height: 1.25;
}

h2 {
  font-size: 36px;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 50px;
}

@media screen and (max-width: 767px) {

  h2 {
    font-size: 24px;
  }
  body {
    font-size: 14px;
  }
}

/* helping classes */

.text-center {
  text-align: center;
}

.space-top {
  margin-top: 30px;
}

.fullwidth {
  width: 100%;
}

/*icons*/
//todo make this icon svg

.remove-item {
  color: #dd4b4b;
  border-bottom: 1px dashed #dd4b4b;
  text-decoration: none;
  &:hover {
    border-bottom: 0;
  }
}

.site_icon-delete {
  background-image: url(../images/new-delete.png);
}

.site_icon-download {
  background-image: url(../images/new-download.png);
  margin-bottom: 14px;
}

.site-icon-edit {
  background-image: url(../images/new-edit.png);
  background-repeat: no-repeat;
  margin-left: 9px;
}

.site_icon-info {
  background-image: url(../images/new-info.png);
}

.site_icon-info-blue {
  background-image: url(../images/new-info-blue.png);
}

.site_icon-document {
  background-image: url(../images/new-doc.png);
}

.site_icon-contractor {
  background-image: url(../images/gen_contractor.png);
}

.site_icon-installation {
  background-image: url(../images/installation.png);
}

.site_icon-delivery {
  background-image: url(../images/delivery.png);
}

.site_icon-designing {
  background-image: url(../images/designing.png);
}

.site_icon-attention {
  background-image: url(../images/attention.png);
}

.site_icon-check {
  background-image: url(../images/new-check.png);
}

.site_icon-contractor, .site_icon-installation, .site_icon-delivery, .site_icon-designing {
  height: 18px;
  width: 18px;
}

[class*="site_icon"] {
  padding-left: 36px;
  background-position: center left;
  background-repeat: no-repeat;
}

.styled-checkbox {
  input[type=checkbox] {
    display: none;
  }
  label {
    padding-left: 27px;
    position: relative;
    cursor: pointer;
    user-select: none;
  }
  [type=checkbox] + label:after {
    content: '';
    top: 50%;
    left: 0;
    position: absolute;
    z-index: 1;
    border: 1px solid #cfd3dc;
    border-radius: 3px;
    width: 14px;
    height: 14px;
    transform: translateY(-50%);
  }
  [type=checkbox] + label:before {
    content: '';
    position: absolute;
    width: 6px;
    height: 3px;
    border-left: 2px solid #388edd;
    border-bottom: 2px solid #388edd;
    left: 4px;
    top: 6px;
    transform: rotateZ(-45deg) scale(0);
    transition: transform ease .1s;
  }

  [type=checkbox]:checked + label:before {
    transform: rotateZ(-45deg) scale(1);
  }
}

.styled-radio {
  input[type=radio] {
    display: none;
  }

  label {
    padding-left: 27px;
    position: relative;
    cursor: pointer;
    user-select: none;
  }
  [type=radio] + label:after {
    content: '';
    top: 50%;
    left: 0;
    position: absolute;
    z-index: 1;
    border: 1px solid #cfd3dc;
    border-radius: 50%;
    width: 13px;
    height: 13px;
    transform: translateY(-50%);
  }
  [type=radio] + label:before {
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    background: #388edd;
    border-radius: 50%;
    left: 5px;
    top: 6px;
    transform: scale(0);
    transition: transform ease .1s;
  }

  [type=radio]:checked + label:before {
    transform: scale(1);
  }
  [type=radio]:checked + label:after {
    border-color: #388edd;
  }
}

.form-info {
  color: #7e869a;
  font-weight: 100;
}

.infoBlock {
  border: 2px dotted rgb(207, 211, 220);
  border-radius: 2px;
  background-position-x: 7%;
  background-position-y: 23%;
  max-width: 304px;
  width: 100%;
}

.alert {
  padding: 20px;
  padding-left: 50px;
  border: 2px dotted;
  background-position: 15px 15px;
  background-repeat: no-repeat;
  p {
    font-weight: 300;
  }
  strong {
    display: block;
  }
}

.alert-primary {
  border-color: #cfd3dc;
  color: #6f7789;
  background-image: url(../images/new-info.png);
  padding: 20px 50px;
  strong {
    padding-top: 0;
    color: #4a505e;
  }
}

.alert-warning {
  border-color: #f4acac;
  color: #e95a5a;
  background-image: url(../images/attention.png);
  padding: 20px 50px;
  strong {
    color: #b5373e;
  }
}

.alert-danger {
  border-color: #f4acac;
  color: #e95a5a;
  position: relative;
  padding: 5px;
  strong {
    color: #b5373e;
  }
}
.alert-danger-item{
  background: #fdeeee;
  padding: 20px 50px;
  background-image: url(../images/attention.png);
  background-position: 15px 15px;
  background-repeat: no-repeat;
}

.returnToStepFour {
  text-decoration: underline;
  color: #e95a5a;
}

.input-file { //todo make normal icon
  background: #e6e8ee;
  width: 200px;
  height: 45px;
  line-height: 45px;
  border-radius: 3px;
  cursor: pointer;
  font-weight: 100;
  background-image: url(../images/new-doc.png);
  background-repeat: no-repeat;
  background-position: 20px 13px;
  padding-left: 50px;
}

.cabinet-step {
  overflow: hidden;
  height: 0;
  position: relative;
  z-index: 1;
  &.open {
    display: block;
    height: auto;
    padding-top: 25px;
    padding-bottom: 20px;
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 10px;
      left: 0;
      right: 0;
      height: 1px;
      background: #dbe0ea;
    }
  }
  .infoBlock p {
    color: rgb(101, 109, 129);
    font-weight: 100;
    padding-top: 29px;
  }

  .profile-office-link p {
    font-size: 18px;
    color: rgb(75, 81, 96);
    font-weight: 400;
    padding: 40px 0 10px 0;
  }
}

.form-block, .modal-form-block {
  max-width: 510px;
  margin-bottom: 15px;
  position: relative;
  label {
    font-weight: 300;
    color: #32394a;
    display: block;
    margin-bottom: 10px;
    .download-size {
      font-size: 13px;
    }
  }

  p {
    padding-bottom: 18px;
    position: relative;
    .hider {
      position: absolute;
      right: 0;
    }
  }
}

.form-block.news {
  margin-top: 30px;
}

.modal-form-block {
  max-width: 435px;
  margin-bottom: 25px;
  .form-info {
    display: block;
  }
}

.form-help-wrap {
  position: relative;
}

.ses-type {
  label {
    margin-bottom: 0;
  }
  .styled-checkbox {
    margin-bottom: 25px;
    .selectItem {
      font-weight: 600;
    }
  }
  .form-info {
    padding-left: 27px;
    padding-top: 3px;
  }
}

.public-info {
  textarea {
    height: 85px;
  }
}

.cabinet-item {
  background: #ffffff;
  margin-bottom: 10px;
  border-radius: 2px;
  padding: 15px;
  h2 {
    position: relative;
    display: block;
    color: #32394a;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 0;
    span {
      color: rgb(183, 186, 194);
      margin-right: 20px;
      font-weight: 400;
    }
  }
}
//.cabinet-item{
//  .btn-primary{
//    margin-right: 0;
//  }
//}

.button_confirm {
  border-radius: 2px;
  border: 0;
  background-color: rgb(56, 142, 221);
  padding: 17px 33px 17px 43px;
  color: #FFFFFF;
  font-size: 14px;
}

input[type='text'], input[type='password'], textarea, .profile-office-map {
  display: block;
  border: 1px solid rgb(207, 211, 220);
  border-radius: 2px;
  width: 100%;
}

.profile-office-map {
  strong {
    font-weight: 600;
  }
  .office-input {
    margin-top: 15px;
  }
}

.showgmap {
  display: block;
  margin-bottom: 15px;
  font-size: 13px;
}

input[type='text'], input[type='password'] {
  height: 40px;
}

textarea {
  height: 217px;
}

.link {
  cursor: pointer;
  color: rgb(56, 142, 221);
  text-decoration-style: dotted;
  text-decoration-line: underline;
  text-decoration-color: rgb(44, 92, 214);
}

.logoImgBlock {
  position: relative;
  padding-left: 133px;
  min-height: 118px;
  padding-top: 30px;
}

.site_icon-download, .site_icon-delete, .site-icon-edit, .site_icon-edit-blue {
  cursor: pointer;
  padding-left: 20px;
  color: rgb(56, 142, 221);
  text-decoration-style: dashed;
  text-decoration-line: underline;
  text-decoration-color: rgb(44, 92, 214);
  height: 18px;
  &:hover {
    text-decoration: none;
  }
}

.site_icon-delete {
  color: rgb(221, 75, 75);
  text-decoration-style: dashed;
  text-decoration-line: underline;
  text-decoration-color: rgb(221, 75, 75);
}

.logoFile {
  position: absolute;
  left: 1px;
  top: 0;
  overflow: hidden;
  border: 5px solid #fff;
  border-radius: 3px;
  width: 115px;
  height: 115px;
  box-shadow: 0 0 0 1px rgba(#cfd3dc, 1);
  background: url(../images/default_photo.jpg);
  img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;

  }
}

/*Master profile*/
.cabinet-page {
  padding: 60px 0 60px 300px;
  position: relative;
  background-color: #edeff4;
  transition: padding ease .3s;
  min-height: calc(100vh - 60px);
  &.sidebar-hidden {
    padding-left: 55px;
  }
}

.cabinet-page-wrap {
  padding: 20px;
}

/*Contacts page*/

.profile-office-link, .profile-office-map {
  margin-bottom: 20px;
}

.companyLogoBlock > div:first-child {
  margin-bottom: 20px;
}

.second_phone {
  margin-top: 8px;
}

.profile-office-map {
  padding: 20px 15px;
  .map {
    height: 290px;
  }

  .gmap-block {
    position: relative;
    margin-bottom: 10px;
    height: auto !important;
  }
}

.map {
  input {
    font-weight: 400;
    font-size: 14px;
    border: 1px solid #797f8e;
    border-radius: 3px;
    box-shadow: 0 4px 35px rgba(0, 0, 0, .3);
    &::placeholder {
      color: #979ead;
    }
  }
}

.plus_second_map, .plus_third_map, .map_one, .map_two, .second_phone {
  display: none;
}

/*Partnership page*/

.form-contact-block {
  border: 1px solid rgb(207, 211, 220);
  border-radius: 2px;
  background-color: #f9fafb;
  padding: 20px;
  h3 {
    font-size: 14px;

  }
  label {
    margin-top: 20px;
  }
}

.wrap_cooperation {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  justify-content: space-between;
}

.checkboxLegal, .checkboxFOP {
  display: flex;
  flex-direction: column;
}

.codeLegal, .codeFOP {
  display: none;
  flex-direction: column;
  margin: 16px 0 37px;
}

/*Page service*/

.stationType > span {
  margin-left: 23px;
}

.brand-list {
  padding: 20px 15px 10px;
  border: 1px solid rgb(207, 211, 220);
  border-radius: 2px;
  margin-bottom: 15px;
}

.brand-item {
  color: #404656;
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
}

.brand-edit, .brand-delete {
  width: 15px;
  height: 15px;
  display: inline-block;
  margin-left: 5px;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: middle;
}

.brand-edit {
  background-image: url(../images/new-edit.png);
}

.brand-delete {
  background-image: url(../images/new-delete.png);
}

.invertor ul, .sun-panel ul {
  list-style: none;
  margin-left: 0;
}

.invertor li, .sun-panel li {
  margin-bottom: 5px;
}

.region-list {
  column-count: 2;
  > div {
    margin-bottom: 5px;
    &:nth-child(4n) {
      margin-bottom: 10px;
    }
  }
}

.order-region-wrap ol {
  list-style: none;
  li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    .help-block.form-error {
      margin-left: 20px;
    }
    label {
      margin-bottom: 0;
      margin-right: 10px;
    }
  }
}

.nice-select .current {
  display: initial;
  padding-left: 20px;
  color: rgba(86, 87, 91, 0.93);
  font-weight: 500;
}

.orderRegion ol {
  max-width: 356px;
  width: 100%;
}

.startInstall .field {
  max-width: 356px;
  width: 100%;
  margin-bottom: 16px;
}

.tooltip {
  position: relative;
  color: #388edd;
  text-decoration: dashed;
  cursor: pointer;
  @media screen and (max-width: 680px) {
    position: static;
  }
  &:hover {
    .help-tooltip {
      display: block;
    }
  }
}

.help-tooltip {
  display: none;
  background: #fff;
  min-width: 300px;
  border: 2px dotted rgb(151, 185, 220);
  border-radius: 2px;
  padding: 10px 10px 30px;
  position: absolute;
  top: 50%;
  left: 300%;
  transform: translateY(-50%);
  color: #000;
  z-index: 10;
  @media screen and (max-width: 1250px) {
    top: 100%;
    left: 0;
    transform: translateX(0);
  }
  @media screen and (max-width: 680px) {
    top: 10%;
    left: 0;
  }
  strong {
    display: block;
    padding: 15px;
    color: #000;
    font-weight: 600;
    padding-left: 50px;
    background: url(../images/new-info-blue.png) no-repeat 5% 40%;
  }
  span {
    padding: 0 30px;
    display: block;
    background: url(../images/kavichki-up.png) no-repeat 1% 1%, url(../images/kavichki-down.png) no-repeat 98% 98%;
  }
}

.cabinet-service {
  .form-block {
    margin-bottom: 50px;
  }
}

/*Page portfolio*/

.block-portfolio {
  padding: 5px;
  h3 {
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 10px;
  }
  .title-ses {
    margin-top: 55px;
  }
  .alert-wrap {
    padding: 15px;
  }
  .alert-danger {
    margin-top: 30px;
  }
}

.table-block {
  border: 1px solid rgb(207, 211, 220);
  border-radius: 2px;
  .table-address {
    padding-left: 35px;
    position: relative;
    svg {
      position: absolute;
      left: 15px;
      top: 50%;
      bottom: 0;
      transform: translate(0, -43%);
    }
  }
  table {
    border-collapse: collapse;
    margin-bottom: 20px;
    width: 100%;
  }
  .table-top {
    margin-bottom: 0;
  }
  td {
    padding: 10px 15px;
    vertical-align: middle;
  }
  .add-link {
    margin-left: 15px;
  }
}

.commercial-ses-table, .home-ses-table {
  img {
    padding: 0 7px;
  }
  .opacity-img {
    opacity: .2;
  }
}
.table .tr_id a{
  text-decoration: underline;
  color: #32394a;
}

.table-block-filter {
  border: none;
  .alert-primary {
    border: none;
  }
}

.table-block-filter .tr_id {
  a {
    text-decoration: underline;
    color: #212121;
  }
}

.open-table {
  display: none;
}

.table-block tr:nth-child(even) {
  background-color: #edeff4;
}

//portfolio-map
.gm-style .gm-style-iw {
  border: 1px solid #e3e4e9;
  box-sizing: content-box;
  padding: 5px 7px;
  left: 50% !important;
  transform: translateX(-50%);
}

.gm-style img {
  right: 20px;
}

.ses-info {
  padding: 20px;
  h1 {
    font-size: 16px;
    font-weight: 600;
  }
  p {
    padding-bottom: 10px;
    a {
      text-decoration: underline;
      font-size: 14px;
    }
  }
  ul {
    padding-left: 10px;
    padding-bottom: 15px;
  }
  li {
    position: relative;
    color: #4b5160;
    &:before {
      position: absolute;
      content: '';
      height: 1px;
      width: 5px;
      background: #4b5160;
      top: 50%;
      transform: translateY(-50%);
      left: -7px;

    }
  }
  button {
    letter-spacing: 1px;
  }
}

/*pop-up*/

.equipment {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.photo-ses {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  label, div {
    font-size: 14px;
    margin-bottom: 10px;
  }
}

.station-location-wrap {
  max-width: 100%;
}

.station-location p {
  font-size: 14px;
  margin-bottom: 10px;
}

.station-location {
  .form-info {
    display: block;
    margin-bottom: 15px;
  }
}

.add-ses > p {
  padding: 20px 0;
}

label.under-photo {
  font-size: 11px;
  color: #727272;
  align-items: center;
  display: flex;
  margin-top: 10px;
}

.styled-checkbox [type=checkbox] + .under-photo:before {
  top: 4px;
}

.map {
  height: 230px;
  margin: 0;
}

.portfolio-map {
  height: 350px;
}

.img-border {
  border: 2px solid #fff;
  border-radius: 2px;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.watch-profile {
  display: block;
  text-align: center;
  margin: 20px 0 25px;
}

/* Tooltip container */

.tooltip-checkbox {
  position: relative;
  display: block;
  .tooltip-text {
    visibility: hidden;
    width: 250px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 2%;
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 1s;
  }
  &:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
  }
}

.search-map-input { //todo resolve important
  position: absolute;
  z-index: 1;
  top: 15px !important;
  right: 50px !important;
  left: auto !important;
  width: 80% !important;
  display: block;

  //left: 50% !important;
  //transform: translateX(-50%);
  //position: absolute;
  //z-index: 1;
  //left: 40px;
  //top: 10px;
}

/* MAKSIM */

input[type='text']:focus, input[type='password']:focus, textarea:focus, .profile-office-map:focus {
  box-shadow: inset 0 0 14px -4px rgba(#4e9ae1, 1);
  border-radius: 3px;
}

input[type='text'], input[type='password'], textarea {
  padding: 10px;
}

.adminInfo {
  width: 37%;
  align-self: flex-start;
  border: 2px dotted #cfd3dc;
  padding: 23px 25px 25px 60px;
  background-image: url(../images/new-info.png);
  background-repeat: no-repeat;
  background-position: 20px 20px;
  p {
    font-weight: 100;
  }
}

.enter_name_company {
  display: block;
  margin-top: 9px;
  color: #dd4b4b;
}

.cabinet-step .site_icon-info {
  background: none;
}

input[type='text'], input[type='password'], textarea, .profile-office-map {
  resize: none;
}

.profileOffice .managerContact p {
  margin: 0 21px 33px;
  font-weight: 600;
}

.checkboxLegal label, .checkboxFOP label {
  margin-bottom: 12px;
}

.site_icon-mail_gray .field {
  margin-bottom: 20px;
}

.add-link {
  text-decoration: none;
  border-bottom: 1px dashed #3d91de;
  color: #3d91de;
  display: inline-block;
  margin: 10px 0;
  &:hover {
    border-color: transparent;
  }
}

.profile-office-block {
  max-width: 800px;
  margin-bottom: 50px;
  .add-link {
    margin: 0;
  }
}

.photo-car, .photo-machinery {
  .form-info {
    margin-bottom: 20px;
    display: inline-block;
  }
}

.inputfile-styled {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border: 1px solid #edeeef;
  border-radius: 3px;
  padding: 13px;
  margin-top: 20px;
  .file-name {
    max-width: 150px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
    font-style: italic;
    border-bottom: 1px dashed;
  }
  .input-file {
    margin: 0;
  }
}

.service-region {
  display: flex;
  flex-wrap: wrap;
  .styled-checkbox {
    width: 50%;
  }
  label {
    &:hover {
      text-decoration: underline;
    }
  }
}

.nice-select.custom_select {
  height: 43px;
  background-position: calc(100% - 48px);
  background-size: 1px 32px;
}

.nice-select .list {
  width: 100%;
}

.nice-select.open .list {
  width: 100%;
}

.consumer_protection {
  width: 39%;
  border: 2px dotted #9fc8ee;
  padding: 18px 20px 25px 21px;
  align-self: flex-start;
  h4 {
    padding-bottom: 20px;
    background-image: url(../images/consumer_protection_logo.png);
    background-repeat: no-repeat;
    padding-left: 40px;
    padding-top: 7px;
    font-weight: 600;
  }
  p {
    padding-left: 20px;
    position: relative;
    &:after {
      content: '';
      position: absolute;
      background-image: url(../images/kavichki-down.png);
      right: 0;
      bottom: -20px;
      width: 20px;
      height: 20px;
      background-repeat: no-repeat;
    }
    &:before {
      content: '';
      position: absolute;
      background-image: url(../images/kavichki-up.png);
      left: -9px;
      top: -3px;
      width: 20px;
      height: 20px;
      background-repeat: no-repeat;
    }
  }
}

/*MODAL*/

.modal-header {
  h4 {
    font-size: 24px;
    margin-bottom: 35px;
  }
}

.modal-body .warranty-input {
  margin: 12px 0;
  width: 205px;
  border-radius: 3px;
  display: inline-block;
  vertical-align: middle;
}

.modal-body {
  h5 {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .alert {
    margin-bottom: 20px;
  }
}

.select-modal-wrap {
  display: flex;
  justify-content: space-between;
  .select2 {
    width: 45% !important;
  }
}

.btn-confirm {
  min-width: 150px;
  height: 45px;
  line-height: 45px;
  padding: 0 15px;
  border-radius: 3px;
  text-align: center;
  background: #388edd;
  color: #f2f7fd;
  font-family: 'Open Sans', sans-serif, Arial;
  font-size: 14px;
  cursor: pointer;
  margin-right: 20px;
}

.btn-cancel {
  width: 140px;
  height: 45px;
  line-height: 45px;
  border-radius: 3px;
  text-align: center;
  background: #e6e8ee;
  color: #32394a;
  font-family: 'Open Sans', sans-serif, Arial;
  font-size: 14px;
  cursor: pointer;
}

.profileInfo {
  .table-block {
    margin-bottom: 25px;
  }
}

/*MENU*/

.sidebar {
  position: fixed !important;
  top: 60px;
  bottom: 0;
  left: 0;
  width: 300px;
  background: #32394a;
  box-shadow: inset -85px 0px 88px -75px rgba(0, 0, 0, 0.5);
  transition: width ease .3s;
  z-index: 51;
  &.hidden {
    width: 55px;
    .menu-item, .logout-item {
      a {
        font-size: 0;
        .arrow {
          display: none;
        }
      }
    }
    &:hover {
      width: 300px;
      .menu-item, .logout-item {
        a {
          font-size: 14px;
          .arrow {
            display: block;
          }
        }
      }
    }
  }
  > ul {
    list-style-type: none;
  }
  &:after {
    content: '';
    position: absolute;
    display: block;
    height: 20px;
    right: 0;
    left: 0;
    top: 0;
    z-index: -1;
    background: -moz-linear-gradient(bottom, rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, .1) 100%);
    background: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, .1) 100%);
    background: -o-linear-gradient(bottom, rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, .1) 100%);
    background: -ms-linear-gradient(bottom, rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, .1) 100%);
    background: linear-gradient(to top, rgba(255, 255, 255, 0) 5%, rgba(0, 0, 0, .1) 100%);
  }
  .sub-menu {
    display: none;
    background-color: #292f3f;
    padding-bottom: 10px;
  }
  .logout-link {
    background-image: url(../images/exit.png);
    background-repeat: no-repeat;
    background-position: 20px 50%;
  }
}

.managerContact p {
  margin: 0 20px 20px 20px;
}

.menu-item {
  border-bottom: 1px solid #4c556a;
  text-decoration: none;
  position: relative;
  a {
    position: relative;
    padding-left: 50px;
    display: block;
    line-height: 46px;
    color: #b5bbca;
    text-decoration: none;
    transition: all ease .3s;
  }
  > a {
    &:before {
      content: '';
      display: block;
      width: 5px;
      height: 5px;
      background-color: #ffbc47;
      transform: translate(-3px, -50%) rotate(45deg);
      position: absolute;
      left: 1px;
      top: 50%;
      opacity: 0;
      transition: transform ease .1s;
    }
    &:after {
      content: '';
      position: absolute;
      width: 0;
      height: 100%;
      background-color: #ffbc47;
      left: 0;
      transition: width ease .1s;
    }
  }
  .arrow {
    position: absolute;
    background-repeat: no-repeat;
    right: 20px;
    top: 50%;
    font-size: 22px;
    width: 7px;
    height: 7px;
    border-left: 1px solid #808796;
    border-top: 1px solid #808796;
    transform: translateY(-50%) rotate(-135deg);
    transition: .5s all;
  }
  &.active {
    background-color: #292f3f;
    > a {
      &:after {
        width: 3px;
      }
      &:before {
        opacity: 1;
        transform: translate(0px, -50%) rotate(45deg);
      }
    }
    .arrow {
      /*transform: rotate(90deg);*/
      border-color: #e0af59;

    }
  }

}

.logout-item a {
  padding-left: 50px;
  display: block;
  line-height: 46px;
  color: #b5bbca;
  text-decoration: none;
  transition: all ease .3s;
}

.sub-menu {
  padding: 0 20px;
  a {
    display: block;
    height: 36px;

    line-height: 36px;
    text-decoration: none;
    color: #b5bbca;
    position: relative;
    padding-left: 15px;
    font-weight: 100;
    &:before {
      content: '';
      position: absolute;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background: #969cac;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
    }

  }
  li {
    padding-left: 30px;
    transition: padding ease .3s, background ease .3s;
    background: #292f3f;
    border-bottom: 1px solid #384054;
    &:hover, &.focus {
      padding-left: 45px;
      background-color: #384054;
      a {
        color: #e0af59;

        &:before {
          content: '>';
          background: transparent;
          width: auto;
          height: auto;
          font-size: 16px;
        }
      }
    }
    &:last-child {
      border-bottom: none;
    }
  }

}

/*HEADER*/

.logo-wrap {
  width: 300px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  height: 60px;
  z-index: 100;
  box-shadow: inset -85px 0px 88px -75px rgba(0, 0, 0, 0.5);
  background: #32394a;
}

.edit-content {
  width: calc(100% - 300px);
  box-shadow: -30px 0px 50px 0px rgba(41, 47, 62, 1);
}

#header {
  .container {
    padding: 0;
  }
}

.main-header {
  position: fixed;
  width: 100%;
  z-index: 2;
  height: 60px;
  background: #32394a;
  display: flex;
  justify-content: space-between;
  .logout-link {
    text-decoration: none;
    color: #edeff4;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    height: 100%;
    transition: background .3s ease, color .3s ease;
    &:before {
      padding-right: 2px;
      transition: padding .3s ease;
    }
    &:hover {
      color: #e0af59;
      &:before {
        padding-right: 5px;
      }
    }
  }
}

/*FOOTER*/

.main-footer {
  height: 65px;
  background: #32394a;
  color: #a0a8ba;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 0 320px;
  position: absolute;
  left: 0;
  bottom: -60px;
  right: 0;
  z-index: 51;
  .container {
    background: #346f8a;
  }
}

.footer-contacts {
  display: flex;
  align-items: center;
}

.site_icon-mail-white {
  margin-left: 100px;
  background-image: url(../images/message.png);
  background-repeat: no-repeat;
  padding-left: 27px;
  background-position: 0px 50%;
  a {
    text-decoration: none;
    color: #a0a8ba;
  }
}

.site_icon-phone-white {
  background-image: url(../images/phone.png);
  background-repeat: no-repeat;
  padding-left: 24px;
  background-position: 0px 50%;
}

.orders_menu {
  background-image: url(../images/completed_order.png);
  background-repeat: no-repeat;
  background-position: 20px 50%;
  position: relative;
}

.company_menu {
  background-image: url(../images/bag.png);
  background-repeat: no-repeat;
  background-position: 20px 50%;
  position: relative;
}

.settings_menu {
  background-image: url(../images/settings.png);
  background-repeat: no-repeat;
  background-position: 20px 50%;
  position: relative;
}

.faq_menu {
  background-image: url(../images/questions.png);
  background-repeat: no-repeat;
  background-position: 20px 50%;
  position: relative;
}

.menu-item ul {
  display: none;
}

.menu-item.active {
  .arrow {
    transform-origin: center;
    transform: rotate(45deg);
    transition: .5s all;
  }
}

.scroll-top-btn {
  position: fixed;
  display: none !important;
  right: 20px;
  bottom: 20px;
  width: 20px;
  img {
    width: 100%;
  }
}

//art styles

.filter-order {
  display: flex;
  min-height: 46px;
  align-items: center;
  margin-bottom: 15px;
  form {
    width: 100%;
  }
  .filter-radio {
    display: inline-block;
  }
  .filter-checkbox {
    float: right;
  }
  p {
    color: #9095a0;
    margin-right: 5px;
  }
  input[type="radio"] {
    display: none;
  }
  [type="radio"] + label {
    color: #32394a;
    cursor: pointer;
    padding: 12px 25px;
    text-decoration: underline;
  }
  [type="radio"]:checked + label {
    background: #388edd;
    border-radius: 2px;
    color: #fff;
    text-decoration: none;
    position: relative;
    display: block;
    &:after {
      position: absolute;
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 5px 8px 0 8px;
      border-color: #388edd transparent transparent transparent;
      display: block;
      top: auto;
      bottom: -5px;
      margin: auto;
      left: 0;
      right: 0;
    }
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 38px;
  height: 12px;
}

/* Hide default HTML checkbox */
.switch input[type="checkbox"] {
  display: none;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: -1px;
  bottom: -2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  -webkit-box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.47);
  -moz-box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.47);
  box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.47);
}

input[type="checkbox"]:checked + .slider {
  background-color: #2196F3;
}

input[type="checkbox"]:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input[type="checkbox"]:checked + .slider:before {
  -webkit-transform: translateX(22px);
  -ms-transform: translateX(22px);
  transform: translateX(22px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.pagination {
  .active {
    background: #388edd;
    color: #ffffff;
    border-radius: 2px;
    a {
      color: #ffffff;
    }
  }
  li {
    display: inline-block;
    text-align: center;
    width: 27px;
    height: 27px;
    cursor: pointer;
    line-height: 27px;
    a {
      text-decoration: none;
      color: #32394a;
    }
  }
}

.alert-orange {
  border-color: #f29a55;
  color: #ef852f;
  position: relative;
  background-image: url(../images/attention.png);
  margin-bottom: 35px;
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    z-index: -1;
    background: #fef5ee;
  }
  strong {
    color: #ef852f;
  }
  a {
    color: #ef852f;
    text-decoration: underline;
  }
}

.table-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  p {
    color: #32394a;
    font-size: 14px;
    font-weight: 600;
  }
  span {
    color: #3f568d;
    font-weight: 100;
    font-size: 12px;
  }
}

@media screen and (max-width: 1080px) {
  .filter-order {
    .filter-checkbox {
      margin-top: 40px;
      float: none;
    }
  }
}

//master public
//.master-public-page-wrap{
//  padding-bottom: 70px;
//}
.master-block {
  padding-left: 165px;
  position: relative;
  //max-width: 650px;
  width: calc(100% - 310px);
}

.master-photo {
  position: absolute;
  top: 0;
  left: 0;
  width: 155px;
  height: 100%;
  img {
    width: 100%;
    height: 100%;
  }
}

.master-name {
  margin-bottom: 5px;
}

.master-review-link {
  font-weight: 300;
  a {
    color: #32394a;
    font-weight: 400;
    text-decoration: underline;
  }
  span {
    color: #e05a5a;
    font-weight: 400;
  }
}

.master-works {
  margin-bottom: 10px;
  padding-left: 5px;
}

//MAKSIM
.page-title-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-brand-equipment {
  text-decoration: none;
  color: #ffffff;
  background-color: #a0bc4c;
  border-radius: 2px;
  width: 183px;
  height: 43px;
  line-height: 43px;
  text-align: center;
  span {
    margin-right: 4px;
  }
}

.cabinet-equipment {
  background: #ffffff;
  padding: 24px;
  margin-top: 24px;
  .equipment-list {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 35px;
    label {
      display: block;
      margin-bottom: 10px;
    }

    .btn {
      margin-right: 0;
    }
    .type-equipment {
      max-width: 320px;
      width: 100%;
      margin-right: 20px;
    }
    .brand-equipment {
      max-width: 370px;
      width: 100%;
      margin-right: 15px;
    }
  }
}

.equipment-brand {
  width: 250px;
  margin-bottom: 85px;
  li {
    line-height: 33px;
    border-bottom: 1px solid #cfd3dc;
    span {
      background: #388edd;
      border-radius: 50%;
      text-align: center;
      color: #ffffff;
      display: inline-block;
      min-width: 21px;
      padding: 5px;
      height: 21px;
      line-height: 12px;
      margin-left: 8px;
      font-size: 12px;
      cursor: pointer;
    }
  }
  li:last-child {
    border: none;
  }
}

.pagination {
  .active {
    background: #388edd;
    color: #ffffff;
    border-radius: 2px;
    a {
      color: #ffffff;
    }
  }
  li {
    display: inline-block;
    text-align: center;
    width: 27px;
    height: 27px;
    cursor: pointer;
    line-height: 27px;
    a {
      text-decoration: none;
      color: #32394a;
    }
  }
}

.remove-btn {
  text-align: center;
}

//PORTFOLIO
.cabinet-portfolio {
  background: #ffffff;
  padding: 24px;
  .set-address {
    font-weight: 600;
    padding-bottom: 15px;
  }
  .portfolio-map {
    margin-bottom: 30px;
  }
  .map {
    margin: 0;
  }
  .set-date, .set-invertor, .set-panel, .set-executor, .set-settings {
    padding-bottom: 5px;
    span {
      font-weight: 600;
    }
  }
  .set-settings {
    li {
      position: relative;
      padding: 0 0 5px 10px;
      &:before {
        position: absolute;
        content: '';
        height: 1px;
        width: 5px;
        background: #2b2e38;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
      }
    }
  }
  .set-form {
    p {
      font-weight: 600;
    }
    .space-top {
      margin-top: 40px;
    }
  }
}

.form-portfolio {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  width: 100%;
  max-height: 170px;
  margin-top: 30px;
  .set-panel-photo {
    width: 50%;
    margin-right: 30px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .set-invertor-photo {
    width: 50%;
    img {
      width: 100%;
      height: 100%;
    }
  }
}

.set-form {
  .field {
    padding-bottom: 10px;
  }
}

.swiper-wrapper {
  .slide-portfolio {
    max-height: 225px;
    max-width: 270px;
    height: 100%;
  }
}

.st0 {
  fill: #EDEEF3;
}

.active-region {
  fill: #418ac9;
  //mask-image: url(../images/marker-white.png);
  //fill: url(#pattern);
}

.portfolio-list {
  margin-bottom: 20px;
  p {
    color: #4b5160;
    font-size: 18px;
    margin-bottom: 35px;
  }
}

.portfolio-select {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .portfolio-select-item {
    width: 32%;
    margin-bottom: 20px;
    select {
      display: none;
    }
    label {
      display: block;
      margin-bottom: 10px;
    }
  }
  .center-block {
    width: 100%;
    text-align: center;
    .btn{
      margin-right: 0;
    }
  }
}

.portfolio-table {
  margin-bottom: 30px;
  .footable.table {
    margin-bottom: 0;
  }
  .active-portfolio {
    color: #a8ce41;
  }
  .on-check-portfolio {
    color: #bababa;
  }
}

.set-portfolio {
  .cabinet-portfolio {
    max-width: 565px;
    padding: 0;
  }
}

//STATUS-COMPANY
.cabinet-item {
  padding: 25px;
  .table-block {
    margin-bottom: 25px;
    .status-table {
      margin-bottom: 0;
      .site-icon-edit {
        position: absolute;
      }
      tr:nth-child(even) {
        background: #ffffff;
      }
      thead {
        background: #edeff4;
      }
      tbody {
        tr {
          border-bottom: 1px solid #cfd3dc;
          position: relative;
          //&:last-child {
          //  border: none;
          //}
          input[type=submit] {
            background-color: #ffffff;
            height: 18px;
            width: 18px;
          }
        }
      }
    }
  }
  .cheking-request {
    color: rgb(140, 147, 162);
  }
  .verified-request {
    color: rgb(127, 194, 49);
  }
  .rejected-request {
    color: rgb(221, 75, 75);
  }
  .comment-admin {
    display: inline-block;
  }
}

.admin-comment {
  max-width: 450px;
}

//user profile
.master-news-visible {
  display: none;
  max-width: 100%;
  width: 100%;
}

.master-block-wrap {
  position: relative;
  //padding-bottom: 70px;
  .master-block {
    margin-bottom: 25px;
    a {
      padding: 3px 5px;
      display: inline-block;
      text-decoration: underline;
      color: #404656;
    }
    .site-icon-edit {
      padding: 8px;
    }
  }
  .no-news {
    padding-top: 10px;
  }
  .alerts {
    position: absolute;
    right: 0;
    top: 0;
    width: 375px;
  }
  .master-check {
    border-color: #92b32c;
    position: relative;
    background-image: url(../images/attention.png);
    margin-bottom: 25px;
    z-index: 1;
    padding-bottom: 45px;
    svg {
      position: absolute;
      top: -11px;
      left: -14px;

    }
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 5px;
      left: 5px;
      right: 5px;
      bottom: 5px;
      z-index: -1;
      background: #f4f7e9;
    }
    strong {
      color: #92b32c;
      font-weight: 600;
      padding: 0 20px 15px;
    }
  }
  .master-contacts {
    border-color: #f29a55;
    position: relative;
    background-image: url(../images/attention.png);
    margin-bottom: 35px;
    z-index: 1;
    padding-left: 75px;
    svg {
      position: absolute;
      top: 10px;
      left: 20px;
    }
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 5px;
      left: 5px;
      right: 5px;
      bottom: 5px;
      z-index: -1;
      background: #fef5ee;
    }
    strong {
      color: #32394a;
      font-weight: 600;
      padding-top: 0;
      margin-bottom: 10px;
    }
  }
  .master-description {
    width: calc(100% - 400px);
    p {
      margin-bottom: 20px;
      line-height: 1.4;
      word-wrap: break-word;
    }
  }
  .master-news {
    max-width: 375px;
    //background: #f4fafe;
    background: #DFEEFB;
    position: relative;
    z-index: 1;
    padding: 20px 25px 20px;
    h3 {
      font-size: 18px;
      color: #32394a;
    }
    a {
      font-size: 14px;
      text-decoration: underline;
      color: #418ac9;
      display: block;
      margin-top: 20px;
    }
  }
  .master-box {
    position: relative;
    min-height: 390px;
  }
  .custom-master-box {
    min-height: 190px;
  }
  .master-message a {
    padding: 0 30px;
    text-decoration: none;
    color: #ffffff;
  }
}

.svg-icon-wrap {
  background: #ffffff;
  width: 45px;
  height: 45px;
  position: absolute;
  left: -17px;
  top: -18px;
  border-radius: 50%;
}

.master-office {
  margin-bottom: 30px;
  h2 {
    margin-bottom: 0;
    padding: 20.5px 50px 20.5px 0;
    line-height: 1.5;
    color: #32394a;
    font-size: 18px;
    cursor: pointer;
    border-bottom: 1px solid #d5d8df;
    position: relative;
    &:after {
      content: '';
      position: absolute;
      top: 35%;
      margin-right: 20px;
      border-right: 1px solid #4b505d;
      transform: rotate(45deg);
      width: 1px;
      height: 15px;
      right: 6px;
      transition: .5s all;
    }
    &:before {
      content: '';
      position: absolute;
      top: 35%;
      margin-right: 20px;
      border-left: 1px solid #4b505d;
      transform: rotate(-45deg);
      width: 1px;
      height: 15px;
      right: 16px;
      transition: .5s all;
    }
  }
  h2:first-child {
    border-top: 1px solid #d5d8df;
  }
  span {
    font-size: 18px;
    color: #818899;
  }
}

.master-office-location.active {
  &:after {
    transform: rotate(-45deg);
    transition: .5s all;
  }
  &:before {
    transform: rotate(45deg);
    transition: .5s all;
  }
}

.contact-wrap {
  li {
    margin-bottom: 7px;
    .contact-number {
      font-weight: 600;
    }
    a {
      text-decoration: underline;
    }
  }
}

.master-info-list {
  margin-bottom: 40px;
  li {
    display: flex;
    align-items: center;
    color: #575d6b;
    .green_mark {
      margin-left: -15px;
      padding-right: 51px;
    }
    .custom-company-build {
      display: block;
      padding-bottom: 30px;
    }
    a {
      text-decoration: none;
      border-bottom: 1px dashed #4e92cd;
      color: #4e92cd;
    }
  }
}

.visible-registry-document {
  display: none;
  padding: 25px;
  box-shadow: 0 0 40px rgba(0, 0, 0, .4);
  position: absolute;
  z-index: 2;
  top: -80px;
  left: 185px;
  bottom: 0;
  right: 0;
  width: 300px;
  height: 100px;
  background: #ffffff;
  &:before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    transform: rotate(45deg);
    bottom: -7px;
    background-color: #ffffff;
  }
  span {
    text-decoration: underline;
  }
}

.master-info-list {
  ul {
    margin-bottom: 25px;
    position: relative;
  }
}

.master-info-map {
  width: 50%;
}

.alert-info {
  border-color: #afd2f1;
  color: #4b5160;
  padding: 15px 25px;
  margin-right: 30px;
  strong {
    font-weight: 600;
    margin-bottom: 7px;
    padding-top: 15px;
  }
  h3 {
    font-weight: 600;
  }
  span {
    margin-right: 5px;
  }
}

.master-info {
  display: flex;
  justify-content: space-between;
  h3 {
    font-size: 18px;
  }
  .master-info-map, .master-info-list {
    width: 50%;
  }
}

.master-info-map {
  margin-bottom: 20px;
  h3 {
    font-weight: 600;
    margin-bottom: 25px;
  }
}

.slider-portfolio {
  max-height: 225px;
  overflow: hidden;
  height: 100vh;
  img {
    max-width: 275px;
    height: 100%;
    width: 100%;
    border-radius: 2px;
  }
}

.container.pageTitle.withOption.bordered {
  background: #edeff4;
}

.master-order {
  margin-bottom: 60px;
  h3 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 25px;
  }
}

.price-project {
  color: #92b32c;
  display: block;
  padding-left: 13px;
  font-size: 16px;
  font-weight: 600;
}

.master-reviews {
  h2 {
    font-size: 18px;
    margin-bottom: 25px;
  }
}

.master-review-item {
  display: flex;
  margin-bottom: 13px;
}

.item-name {
  width: 20%;
  padding: 17px 27px;
  font-weight: 600;
}

.item-text {
  width: 60%;
  padding: 25px 30px;
  font-weight: 100;
  font-style: Italic;
  box-shadow: -40px 0px 41px -24px rgba(163, 163, 163, 0.2);
}

.item-project {
  width: 20%;
  padding: 25px 30px;
  box-shadow: -40px 0px 41px -24px rgba(163, 163, 163, 0.2);
  p {
    font-weight: 600;
    padding-bottom: 10px;
  }
  a {
    display: block;
    text-decoration: underline;
    color: #32394a;
    margin-bottom: 15px;
  }
  .price-project {
    padding-left: 0;
  }

}

.master-review-positive {
  background: #f9fbf4;
}

.date-review {
  background: transparent;
  color: #81899d;
  font-size: 14px;
  padding-left: 32px;
  font-weight: 400;
}

.assessment {
  color: #ffffff;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  line-height: 22px;
  margin-right: 10px;
  width: 22px;
  height: 22px;
}

.positive-rewiew {
  background: #92b32c;
}

.negative-rewiew {
  background: #e07b7b;
}

.master-review-negative {
  background: #fdf4f3;
}

.master-build {
  margin-bottom: 50px;
  h3 {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 25px;
  }
  .build-commercial {
    display: flex;
    align-items: center;
    margin-right: 55px;
    svg {
      margin-right: 10px;
    }
  }
  .build-home {
    display: flex;
    align-items: center;
    svg {
      margin-right: 10px;
    }
  }
}

.master-build-item {
  display: flex;
  margin-bottom: 20px;
}

.master-portfolio {
  padding-bottom: 60px;
  position: relative;
  overflow: hidden;
  h3 {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 25px;
  }
  .slider-arrow {
    position: absolute;
    top: 50%;
    z-index: 1;
    transform: translateY(-50%);
    color: #fff;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .6);
  }
  .slider-arrow-left {
    left: -20px;
    text-align: right;
    svg {
      margin-right: 14px;
      margin-top: 17px;
    }
  }
  .slider-arrow-right {
    right: -20px;
    text-align: left;
    svg {
      margin-left: 14px;
      margin-top: 17px;
    }
  }
}

.site-icon-edit {
  color: rgb(50, 57, 74);
  text-decoration-color: rgb(50, 57, 74);
}

.private-item {
  padding: 26px 0 48px 26px;
  input:disabled {
    background-color: inherit;
  }
}

.change-pass-link {
  margin: 0;
  //display: flex;
  //justify-content: space-between;
  //flex-direction: row;
  padding-bottom: 29px;
  align-items: center;
  a {
    margin-bottom: 15px;
  }
}

.styled-checkbox-blue {
  input[type=checkbox] {
    display: none;
  }
  label {
    padding-left: 27px;
    position: relative;
    cursor: pointer;
    user-select: none;
  }
  [type=checkbox] + label:before {
    content: '';
    top: 50%;
    left: 0;
    position: absolute;
    z-index: 1;
    border: 1px solid #cfd3dc;
    border-radius: 3px;
    width: 14px;
    height: 14px;
    transform: translateY(-50%);
  }
  [type=checkbox] + label:after {
    content: '';
    position: absolute;
    width: 6px;
    height: 3px;
    border-left: 2px solid #FFFFFF;
    border-bottom: 2px solid #ffffff;
    left: 3px;
    top: 6px;
    z-index: 1;
    transform: rotateZ(-45deg) scale(0);
    transition: transform ease .1s;
  }
  [type=checkbox]:checked + label:before {
    border: 0;
    background-color: #388edd;
  }
  [type=checkbox]:checked + label:after {
    transform: rotateZ(-45deg) scale(1);
  }
}

.site_icon-edit-blue {
  background-image: url(../images/new-edit-blue.png);
}

.dispatch-block {
  .site_icon-edit-blue {
    margin-left: 14px;
  }
  > div:first-child {
    margin-bottom: 18px;
    strong {
      font-weight: bold;
    }
  }
  > div:last-child {
    margin-bottom: 43px;
    strong {
      font-weight: bold;
    }
  }
  strong {
    font-weight: 600;
  }
  li {
    padding-top: 5px;
  }
  li:before {
    content: "- ";
  }
}

.spacing-bottom {
  margin-bottom: 24px;
  margin-left: 29px;
}

.request-block {
  .cabinet-item {
    padding-bottom: 36px;
  }
  .cabinet-item > p {
    font-weight: bold;
  }
  ol {
    list-style-type: decimal;
  }
  ul, ol {
    margin-left: 25px;
    margin-bottom: 48px;
    li {
      margin-top: 16px;
      span {
        color: rgb(183, 186, 194);
        font-weight: 400;
      }
    }
    ul {
      margin-left: 53px;
      li:before {
        content: '- ';
      }
    }
  }
  .alert-danger {
    border: 0;
    background-color: #fdeeee;
    outline: 2px dotted #f4acac;
    outline-offset: 8px;
    margin: 0 11px 53px;
  }
  .remodal-overlay {
    background: none;
  }
}

.alert-green {
  padding-left: 70px;
  border: 0;
  background-color: #e6ece2;
  outline: 2px dotted #b4d45f;
  outline-offset: 8px;
  margin: 30px 11px 30px;
  background-image: url(../images/new-smile.png);
  background-position: 9px 4px;
  color: #a8ce41;
  position: relative;
  p {
    font-weight: 600;
  }
}

.modal-verification {
  top: 25%;
  left: 28%;
  max-width: 360px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  border-radius: 2px;
  outline: 1px solid rgb(227, 228, 233);
  outline-offset: -8px;
  padding: 8px;
  box-shadow: 0 5px 68px 0 rgba(42, 49, 64, 0.35);
  .text-modal {
    margin: 22px 0 28px 24px;
    p:first-child {
      font-size: 16px;
      font-weight: 600;
      strong {
        font-weight: bold;
      }
    }
  }
  .button-modal {
    margin: 0 0 22px 21px;
    .btn-secondary {
      max-width: 288px;
      width: 100%;
      margin-top: 11px;
    }
  }
  .triangle {
    width: 0;
    height: 0;
    border-top: 13px solid transparent;
    border-right: 13px solid #ffffff;
    border-bottom: 13px solid transparent;
    position: absolute;
    top: 47%;
    left: -3%;
  }
}

.btn-green {
  border-radius: 2px;
  background-color: rgb(152, 192, 44);
  color: #FFFFFF;
}

.backend_validation_errors {
  margin-bottom: 20px;
  li {
    color: #eb3030;
    margin-bottom: 5px;
    border-radius: 3px;
  }
}

.footable-toggle {
  cursor: pointer;
  &:before {
    content: '+';
    font-size: 30px;
    font-weight: bold;
    line-height: 10px;
  }
}

.office-input {
  display: flex;
  align-items: center;
  margin-bottom: 35px;
  input[readonly] {
    background: transparent;
    border: none;
    width: 40%;
    margin-right: 15px;
    font-weight: 700;
  }
  label {
    margin-bottom: 0;
    font-weight: 600;
  }
  .office_room {
    width: 60px;
    margin-left: 5px;
  }
}

.hide {
  display: none;
}

//Modal window - view brand
.guarantee {
  padding: 10px 0;
}

.increase-text, .repair-text, .fund-text, .count_sun_station-text {
  padding: 10px 0 10px 0px;
  font-weight: bold;
}

.modal_header {
  position: relative;
  .title-brand {
    font-weight: 600;
    padding-bottom: 15px;
    border-bottom: 1px solid #cfd3dc;
    margin-bottom: 10px;
  }
  .close-window {
    position: absolute;
    top: 0;
    right: 0;
  }
}

//Remove modal item
.modal_header, .button-remove {
  text-align: center;
}

//Modal client master
.modal-client-master {
  max-width: 400px;
  .form_block {
    margin-top: 10px;
    label {
      font-weight: 600;
      display: block;
      padding: 10px 0;
      text-align: left;
    }
    textarea {
      margin-bottom: 20px;
    }
  }
  .btn_block {
    display: flex;
    justify-content: space-between;
    .btn {
      margin: 0;
    }
    .btn-secondary {
      margin-right: 30px;
    }
  }
}

.user_block {
  display: flex;
  .company-img {
    margin-right: 25px;
    width: 160px;
    height: 160px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .company-name {
    font-weight: 600;
    text-align: left;
  }
  .company-region {
    text-align: left;
  }
}

.write-letter {
  font-weight: 600;
  font-size: 20px;
}

.show-photo:hover {
  .visible-photo {
    display: block;
  }
}

.remodal .photo-car {
  width: 100%;
  height: 100%;
}

.visible-photo {
  display: none;
  max-width: 520px;
  max-height: 320px;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 2;
  top: 50%;
  transform: translateY(-50%);
  left: 60%;
  bottom: 0;
  right: 0;
}

.passForm {
  .label {
    padding-bottom: 15px;
  }
  input {
    max-width: 324px;
  }
}

.checkbox-disabled {
  pointer-events: none;
}

@media screen and (max-width: 992px) {
  .cabinet-page-wrap {
    padding: 10px;
  }
  .portfolio-select {
    justify-content: space-between;
    .portfolio-select-item {
      min-width: 200px;
      width: 200px;
    }
  }
  .master-block {
    width: 100%;
  }
  .master-info {
    flex-direction: column;
    max-width: 550px;
  }
  .master-block-wrap {
    padding-bottom: 40px;
    .master-box {
      min-height: 100%;
    }
    .master-news {
      position: relative;
      width: 50%;
      max-width: 100%;
      top: 0;
    }
    .alerts {
      position: relative;
      width: 100%;
      max-width: 100%;
      display: flex;
      margin-bottom: 25px;
    }
    .master-check {
      width: 50%;
      margin-right: 30px;
      margin-bottom: 0;
    }
    .master-contacts {
      width: 50%;
      margin-bottom: 0;
      svg {
        top: 3px;
      }
    }
  }
  .alert-info {
    margin-right: 0;
  }
  .master-order-item {
    .item-object, .item-place {
      width: 32%;
    }
    .item-cost {
      width: 36%;
    }
  }
  .item-name, .item-project {
    width: 25%;
    padding: 17px 10px;
  }
  .item-text {
    width: 50%;
    padding: 17px 10px;
  }
  .master-info {
    .master-info-list, .master-info-map {
      width: 100%;
    }
  }
}

@media screen and (max-width: 767px) {
  .portfolio-select {
    flex-direction: column;
    .portfolio-select-item {
      width: 100%;
      max-width: 500px;
    }
  }
  .master-office {
    h2 {
      padding: 20px 0;
      span {
        display: block;
        padding-bottom: 8px;
      }
    }
  }
  .master-order-item {
    flex-direction: column;
    .order-item {
      margin-bottom: 0;
    }
    .item-object, .item-place, .item-cost {
      width: 100%;
    }
    .item-place {
      box-shadow: inset 0 35px 41px -24px rgba(163, 163, 163, 0.2);
    }
    .item-cost {
      box-shadow: inset 0 35px 41px -24px rgba(163, 163, 163, 0.2);
    }
  }
  .item-name, .item-project {
    width: 100%;
  }
  .item-text, .item-project {
    width: 100%;
    box-shadow: inset 0 35px 41px -24px rgba(163, 163, 163, 0.2);
  }
  .master-review-item {
    flex-direction: column;
  }
}

@media screen and (max-width: 480px) {
  .container {
    padding: 10px;
  }
  .page-title-wrap {
    flex-direction: column;
    align-items: flex-start;
  }
  .alert-info {
    padding: 15px;
  }
  .master-build-item {
    justify-content: space-between;
    .build-commercial {
      margin-right: 0;
    }
  }
  .modal-client-master {
    .btn_block {
      .btn-secondary {
        margin-right: 15px;
      }
    }
  }
  //.type-ses{
  //  width: 130px;
  //}
}

@import "media";