/* line 3, ../sass/main.scss */
.title_block {
  padding: 59px 0;
  background: #f4f4f4;
}
/* line 6, ../sass/main.scss */
.title_block h1 {
  font-size: 48px;
  font-weight: 600;
  letter-spacing: 1.2px;
  text-align: center;
  color: #ea6c21;
}
/* line 13, ../sass/main.scss */
.title_block .i_know {
  margin-top: 35px;
  text-align: center;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.3px;
  color: #212121;
  font-weight: 600;
}
/* line 21, ../sass/main.scss */
.title_block .i_know a {
  margin-left: 10px;
  vertical-align: middle;
  border-radius: 3px;
  border: solid 2px #ea6c21;
  height: 36px;
  width: 200px;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 31px;
}

/* line 34, ../sass/main.scss */
.collapsible_wrap {
  width: 95%;
  max-width: 970px;
  margin: 65px auto;
  text-align: left;
}

/* line 40, ../sass/main.scss */
.faq_block {
  text-align: center;
  padding-bottom: 70px;
}
/* line 43, ../sass/main.scss */
.faq_block .site_button-orange {
  width: 270px;
}
/* line 46, ../sass/main.scss */
.faq_block ul {
  padding-left: 30px;
  list-style-type: none;
}
/* line 49, ../sass/main.scss */
.faq_block ul >
li {
  position: relative;
}
/* line 52, ../sass/main.scss */
.faq_block ul >
li:before {
  content: '-';
  position: absolute;
  top: 4px;
  left: -20px;
  font-size: 30px;
  line-height: 10px;
}

/* line 63, ../sass/main.scss */
.collapsible {
  font-size: 16px;
  text-decoration: underline;
  line-height: 1.5;
  letter-spacing: 0.3px;
  color: #212121;
  position: relative;
  padding: 10px 0 10px 40px;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  border-bottom: 1px solid #d9d9d9;
  cursor: pointer;
}
/* line 78, ../sass/main.scss */
.collapsible span {
  position: absolute;
  top: 10px;
  left: 5px;
  display: block;
  width: 25px;
  height: 25px;
  border: 1px solid #ccc;
  border-radius: 50%;
}
/* line 82, ../sass/main.scss */
.collapsible span {
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
.collapsible span:before{
  content: '';
  display: block;
  width:8px;
  height:8px;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  transform: rotate(45deg);
  position: absolute;
  top: 5px;
  left: 7px;
}
/* line 90, ../sass/main.scss */
.collapsible.collapse-open {
  background-color: #f4f4f4;
  border-bottom: none;
  border-top: 1px solid #d9d9d9;
}
/* line 95, ../sass/main.scss */
.collapsible.collapse-open span{
  border-color: #eb6c20;
  transform: rotate(-90deg);
}
.collapsible.collapse-open span:before{
  border-color: #eb6c20;
}

/* line 111, ../sass/main.scss */
.collapsible_info {
  background-color: #f4f4f4;
  border-bottom: 1px solid #d9d9d9;
  padding: 15px 100px;
  line-height: 1.5;
  letter-spacing: 0.4px;
  text-align: left;
  color: #212121;
}
/* line 119, ../sass/main.scss */
.collapsible_info ol {
  margin: 24px 0;
  padding-left: 20px;
}
/* line 123, ../sass/main.scss */
.collapsible_info li {
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  /* line 129, ../sass/main.scss */
  .title_block h1 {
    font-size: 34px;
  }

  /* line 133, ../sass/main.scss */
  .collapsible_info {
    padding: 15px 50px;
  }
}
@media screen and (max-width: 480px) {
  /* line 139, ../sass/main.scss */
  .title_block h1 {
    font-size: 24px;
  }

  /* line 143, ../sass/main.scss */
  .collapsible {
    font-size: 14px;
  }

  /* line 146, ../sass/main.scss */
  .collapsible_info {
    padding: 15px 20px;
    font-size: 12px;
  }
}
/* line 155, ../sass/main.scss */
.table_page .title {
  margin: 58px 0 26px;
  font-size: 36px;
  font-weight: normal;
  line-height: 1.33;
  letter-spacing: 0.6px;
  color: #212121;
}

/* line 164, ../sass/main.scss */
.table_wrap {
  width: 100%;
  overflow-x: scroll;
}

/* line 168, ../sass/main.scss */
.filter_block {
  border: 1px solid #9bc3d6;
  padding: 15px 30px 36px;
  margin-bottom: 36px;
  display: flex;
  justify-content: flex-start;
}
/* line 174, ../sass/main.scss */
.filter_block .select_wrap {
  margin-right: 50px;
}
/* line 177, ../sass/main.scss */
.filter_block .status {
  width: 100%;
  max-width: 190px;
}
/* line 181, ../sass/main.scss */
.filter_block .specialization {
  width: 100%;
  max-width: 300px;
}
/* line 185, ../sass/main.scss */
.filter_block .region {
  width: 100%;
  max-width: 200px;
}
.filter_block .userregion{
  width: 100%;
  max-width: 200px;
}
/* line 189, ../sass/main.scss */
.filter_block label {
  font-size: 12px;
  color: #727272;
  text-transform: uppercase;
  margin-bottom: 8px;
  display: block;
}

/* line 199, ../sass/main.scss */
.tablesorter {
  border-collapse: collapse;
  font-size: 16px;
  color: #212121;
}
/* line 203, ../sass/main.scss */
.tablesorter thead {
  border: solid 1px #ea6c21;
  height: 60px;
  box-shadow: 0 19px 5px -12px rgba(0, 0, 0, 0.2);
  font-weight: 600;
  cursor: pointer;
}

.tablesorter thead span {
  position: relative;
  padding: 4px 0;
  padding-right: 10px;
}

.tablesorter thead .small_title {
  letter-spacing: 0.2px;
  color: #727272;
  font-size: 12px;
  font-weight: 400;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right:0;
  width: 110px;
}
.tablesorter th[data-sortfield=waste_sorting] .small_title{
  width:140px;
}
.tablesorter .small_title .arrow{
  display: inline-block;
  position: relative;
  top: 2px;
  margin-left:5px;
}

.tablesorter thead tr {
  height: 30px;
}
/* line 226, ../sass/main.scss */
.tablesorter .thead_style th {
  border-left: solid 1px #ea6c21;
}
/* line 230, ../sass/main.scss */
.tablesorter .thead_style .name {
  width: 320px;
  text-align: left;
  padding-left: 15px;
  border-left: none;
}
/* line 236, ../sass/main.scss */
.tablesorter .thead_style .registration_date {
  width: 150px;
}
/* line 239, ../sass/main.scss */
.tablesorter .thead_style .checkbox_table {
  padding-left: 10px;
}
/* line 242, ../sass/main.scss */
.tablesorter .thead_style .edit_date {
  width: 150px;
  border-right:solid 1px #ea6c21; ;
}
/* line 245, ../sass/main.scss */
.tablesorter .thead_style .sending {
  width: 182px;
  border: none;
}
/* line 248, ../sass/main.scss */
.tablesorter .thead_style .request {
  width: 248px;
}
/* line 253, ../sass/main.scss */
.tablesorter .arrow {
  right: 0;
  top: calc(50% - 4px);
  position: absolute;
  display: block;
  width: 8px;
  height: 12px;
  padding: 0;
}
/* line 261, ../sass/main.scss */
.tablesorter .arrow:before {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  width: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 5px solid #727272;
}
.tablesorter .border-left{
  border-left: solid 1px #ea6c21;
}
  /* line 272, ../sass/main.scss */
.tablesorter .arrow:after {
  content: '';
  position: absolute;
  display: block;
  bottom: 0;
  right: 0;
  width: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 5px solid #727272;
}
/* line 286, ../sass/main.scss */
.tablesorter .desc .arrow:after {
  border-top: 5px solid #eb6c20;
}
/* line 293, ../sass/main.scss */
.tablesorter .asc .arrow:before {
  border-bottom: 5px solid #eb6c20;
}
/* line 298, ../sass/main.scss */
.tablesorter tbody {
  letter-spacing: 0.3px;
  color: #212121;
}
/* line 301, ../sass/main.scss */
.tablesorter tbody td {
  position: relative;
  padding: 17px 17px 26px;
}
/* line 304, ../sass/main.scss */
.tablesorter tbody td:first-child {
  padding-left: 25px;
  padding-right: 0;
}
/* line 308, ../sass/main.scss */
.tablesorter tbody td a {
  text-decoration: none;
}
/* line 310, ../sass/main.scss */
.tablesorter tbody td a:hover {
  text-decoration: underline;
}
/* line 316, ../sass/main.scss */
.tablesorter tbody tr:nth-child(even) {
  background-color: #f5f7f7;
}
/* line 321, ../sass/main.scss */
.tablesorter .wrap_name {
  margin-bottom: 7px;
}
/* line 324, ../sass/main.scss */
.tablesorter .wrap_time {
  color: #727272;
}
/* line 327, ../sass/main.scss */
.tablesorter .checkbox_wrap {
  position: absolute;
  top: 20px;
  left: 10px;
}



.tablesorter .order_category{
  width: 32px;
  height:32px;
  margin: 0 auto;
}
.tablesorter .order_category.ses{
  background: url("../images/ses_category.png") no-repeat center top;
}
.tablesorter .order_category.ses.active{
  background: url("../images/ses_category.png") no-repeat center bottom;
}

.tablesorter .order_category.energy_audit{
  background: url("../images/audit_category.png") no-repeat center top;
}
.tablesorter .order_category.energy_audit.active{
  background: url("../images/audit_category.png") no-repeat center bottom;
}
.tablesorter .order_category.waste_sorting{
  background: url("../images/waste_sorting_category.png") no-repeat center top;
}
.tablesorter .order_category.waste_sorting.active{
  background: url("../images/waste_sorting_category.png") no-repeat center bottom;
}


.control_table_block {
  margin: 30px 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.control_table_block .export_base img {
  vertical-align: middle;
  margin-right: 10px;
}

.control_table_block .export_base a:hover {
  text-decoration: none;
}
/* line 363, ../sass/main.scss */
.control_table_block .show_in_page {
  display: flex;
  align-items: center;
}
/* line 367, ../sass/main.scss */
.control_table_block .amount_page {
  width: 218px;
  height: 32px;
  border-radius: 3px;
  border: solid 1px #9bc3d6;
  display: flex;
  margin-left: 10px;
}
/* line 374, ../sass/main.scss */
.control_table_block .amount_page a {
  text-decoration: none;
  flex-grow: 1;
  text-align: center;
  line-height: 30px;
}
/* line 379, ../sass/main.scss */
.control_table_block .amount_page a:hover {
  color: #fff;
  background: #ea6c21;
}
/* line 383, ../sass/main.scss */
.control_table_block .amount_page a.active {
  color: #fff;
  background: #ea6c21;
}

@media screen and (max-width: 992px) {
  /* line 391, ../sass/main.scss */
  .filter_block {
    display: block;
  }
  /* line 393, ../sass/main.scss */
  .filter_block .select_wrap {
    margin: 20px auto;
    max-width: 300px;
  }
  /* line 397, ../sass/main.scss */
  .filter_block .nice-select {
    float: none;
    width: 100%;
  }
  /* line 400, ../sass/main.scss */
  .filter_block .nice-select .current {
    width: 100%;
    display: block;
    overflow: hidden;
  }
  /* line 405, ../sass/main.scss */
  .filter_block .nice-select .list {
    width: 100%;
  }

  /* line 410, ../sass/main.scss */
  .control_table_block {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  /* line 413, ../sass/main.scss */
  .control_table_block .pagesNav {
    width: 100%;
  }
  /* line 416, ../sass/main.scss */
  .control_table_block .export_base {
    order: 2;
  }
  /* line 419, ../sass/main.scss */
  .control_table_block .show_in_page {
    order: 1;
  }
}
@media screen and (max-width: 640px) {
  /* line 425, ../sass/main.scss */
  .export_base {
    margin-top: 20px;
  }

  /* line 428, ../sass/main.scss */
  .show_in_page {
    width: 100%;
  }
}
@media screen and (max-width: 400px) {
  /* line 434, ../sass/main.scss */
  .filter_block .nice-select {
    font-size: 12px;
  }
  /* line 436, ../sass/main.scss */
  .filter_block .nice-select .option {
    padding-left: 10px;
  }
}
/* line 446, ../sass/main.scss */
.projectCat-audit-privat > .container {
  background-image: url(../images/pic-privat-house.png);
}

/* line 451, ../sass/main.scss */
.contentBlock .project_photo {
  margin-bottom: 30px;
}
/* line 455, ../sass/main.scss */
.contentBlock li span {
  font-weight: 600;
}

/* line 462, ../sass/main.scss */
.client_comment {
  padding-left: 47px;
  background: url(../images/ico-client-comment.png) no-repeat 0 5px;
}
/* line 465, ../sass/main.scss */
.client_comment h4 {
  font-size: 20px;
}

@media screen and (max-width: 767px) {
  /* line 471, ../sass/main.scss */
  .projectCat-audit-privat > .container {
    background-image: none;
  }
}
/* line 479, ../sass/main.scss */
.fee-desc .container {
  padding-right: 296px;
}

/* line 484, ../sass/main.scss */
.site_table.comission .title {
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: 0.3px;
}
/* line 491, ../sass/main.scss */
.site_table.comission table {
  border: solid 2px #f5f7f7;
}
/* line 494, ../sass/main.scss */
.site_table.comission td {
  padding: 14px 20px;
  height: 48px;
}
/* line 498, ../sass/main.scss */
.site_table.comission .td_title, .site_table.comission .td_price {
  width: 50%;
  text-align: left;
}
/* line 501, ../sass/main.scss */
.site_table.comission .td_title span, .site_table.comission .td_price span {
  font-size: 12px;
  color: #727272;
  display: block;
}

/* line 509, ../sass/main.scss */
.nbu_comission {
  background: url(../images/info.png) no-repeat left center;
  padding-left: 35px;
  margin: 20px 0 25px;
}

/* line 514, ../sass/main.scss */
.attention {
  display: block;
  font-weight: 600;
}

/* line 518, ../sass/main.scss */
.site_table_wrap {
  width: 100%;
  max-width: 870px;
}

@media screen and (max-width: 767px) {
  /* line 523, ../sass/main.scss */
  .fee-desc .container {
    width: 100%;
    padding: 0 2%;
  }

  /* line 529, ../sass/main.scss */
  .site_table.comission .td_title, .site_table.comission .td_price {
    width: 100%;
  }
  /* line 532, ../sass/main.scss */
  .site_table.comission td {
    height: auto;
  }
}
/* line 541, ../sass/main.scss */
.estimated_cost_block {
  width: 100%;
  max-width: 510px;
  margin: 35px auto;
  padding-left: 40px;
  background: url(../images/ic-info-48-px.png) no-repeat center left;
}
/* line 547, ../sass/main.scss */
.estimated_cost_block .estimated_cost {
  display: inline-block;
  width: 213px;
  height: 36px;
  border: solid 1px #eb6c20;
  font-weight: 600;
  text-align: center;
  font-size: 18px;
  padding: 5px 0px;
  margin-left: 10px;
}

@media screen and (max-width: 600px) {
  /* line 560, ../sass/main.scss */
  .estimated_cost_block {
    max-width: 280px;
  }
  /* line 562, ../sass/main.scss */
  .estimated_cost_block .estimated_cost {
    margin-left: 0;
    margin-top: 10px;
  }
}
/* line 571, ../sass/main.scss */
.order_list_wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
/* line 574, ../sass/main.scss */
.order_list_wrap .order_list {
  width: 870px;
}
.order_list_wrap .client_order_list{
  width:100%;
}
.order_list_wrap .order_list .applicationTable td {
  width: auto;
}
/* line 582, ../sass/main.scss */
.order_list_wrap h1 {
  font-size: 36px;
  line-height: 1.33;
  letter-spacing: 0.6px;
  color: #212121;
  font-weight: normal;
}
/* line 589, ../sass/main.scss */
.order_list_wrap .pageTitle {
  margin-bottom: 15px;
}

/* line 594, ../sass/main.scss */
.pageTitle-sorting {
  position: relative;
  width: 240px;
  border: solid 1px #ea6c21;
  right: 0;
  top: 0;
  font-size: 16px;
  margin-top: 23px;
  margin-left: 20px;
}
/* line 604, ../sass/main.scss */
.pageTitle-sorting h3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.4px;
  color: #212121;
  padding-bottom: 15px;
  border-bottom: 1px solid #d9d9d9;
  margin: 10px 20px;
}
/* line 614, ../sass/main.scss */
.pageTitle-sorting ul {
  list-style-type: none;
}
/* line 618, ../sass/main.scss */
.pageTitle-sorting li a {
  display: block;
  padding: 8px 0 8px 65px;
  position: relative;
}
/* line 622, ../sass/main.scss */
.pageTitle-sorting li a:hover {
  text-decoration: none;
}
/* line 625, ../sass/main.scss */
.pageTitle-sorting li a.active {
  background-color: #eb6c20;
  text-decoration: none;
  color: #fff;
}
/* line 630, ../sass/main.scss */
.pageTitle-sorting li a.active span {
  border-color: #fff;
}
/* line 636, ../sass/main.scss */
.pageTitle-sorting li span {
  position: absolute;
  left: 25px;
  top: 50%;
  width:25px;
  height:25px;
  border: 1px solid #ccc;
  border-radius: 50%;
  margin-top:-12px;
}

.pageTitle-sorting li span:before{
  content: '';
  display: block;
  width:8px;
  height:8px;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  transform: rotate(-45deg);
  position: absolute;
  top: 7px;
  left: 5px;
}

.pageTitle-sorting li a.active span:before{
  border-color: #fff;
}
.pageTitle-sorting .select_mark {
  padding: 0 20px;
  margin-top: 20px;
  position: relative;
}
/* line 650, ../sass/main.scss */
.pageTitle-sorting .select_mark p {
  width: 145px;
  font-size: 12px;
  color: #727272;
  line-height: 1.67;
  letter-spacing: 0.3px;
}
/* line 657, ../sass/main.scss */
.pageTitle-sorting .select_mark label {
  position: absolute;
  top: 15px;
  right: 20px;
}

@media screen and (max-width: 992px) {
  /* line 665, ../sass/main.scss */
  .order_list_wrap {
    flex-wrap: wrap;
  }
  /* line 667, ../sass/main.scss */
  .order_list_wrap .order_list {
    order: 1;
  }
}
/* line 674, ../sass/main.scss */
.services_block {
  padding-left: 42px;
  background: url(../images/ic-map-grey-24-x-24.png) no-repeat left top;
}
/* line 677, ../sass/main.scss */
.services_block .services_input {
  border: solid 1px #d9d9d9;
  padding: 20px 20px 10px;
  display: grid;
}
/* line 680, ../sass/main.scss */
.services_block .services_input label {
  margin-bottom: 10px;
}

/* line 689, ../sass/main.scss */
.proffesional_list h1 {
  font-size: 36px;
  font-weight: normal;
  line-height: 1.33;
  letter-spacing: 0.6px;
  color: #212121;
}
/* line 696, ../sass/main.scss */
.proffesional_list .pageTitle {
  padding-bottom: 25px;
  border-bottom: 1px solid #d9d9d9;
  margin-bottom: 30px;
}
/* line 701, ../sass/main.scss */
.proffesional_list .additionalBlock {
  margin-top: -31px;
}
/* line 704, ../sass/main.scss */
.proffesional_list .pageTitle-sorting {
  margin-top: 0;
  margin-left: 0;
  margin-right: 20px;
  width: 300px;
  height: auto;
  padding-bottom:20px;
}

/* line 713, ../sass/main.scss */
.proffesional_list_wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
/* line 716, ../sass/main.scss */
.proffesional_list_wrap .workersList {
  width: 800px;
}
/* line 719, ../sass/main.scss */
.proffesional_list_wrap .app-item-author_info {
  width: 100%;
}
/* line 721, ../sass/main.scss */
.proffesional_list_wrap .app-item-author_info h3 {
  max-width: 55%;
}
/* line 725, ../sass/main.scss */
.proffesional_list_wrap .site_icon-energy {
  background-image: url(../images/ic-wind-energy-24-x-24.png);
}
/* line 728, ../sass/main.scss */
.proffesional_list_wrap .filterWorkers {
  padding: 0 25px;
  margin-top: 15px;
}
/* line 731, ../sass/main.scss */
.proffesional_list_wrap .filterWorkers .label {
  font-size: 12px;
  font-weight: normal;
  letter-spacing: 0.2px;
  color: #727272;
  text-transform: uppercase;
}
/* line 738, ../sass/main.scss */
.proffesional_list_wrap .filterWorkers .nice-select {
  float: none;
}
/* line 741, ../sass/main.scss */
.proffesional_list_wrap .filterWorkers .field_remark {
  margin-top: 5px;
}

@media screen and (max-width: 1100px) {
  /* line 748, ../sass/main.scss */
  .proffesional_list .additionalBlock {
    position: relative;
    margin-top: 20px;
  }
}
@media screen and (max-width: 994px) {
  /* line 755, ../sass/main.scss */
  .proffesional_list_wrap {
    flex-wrap: wrap;
    justify-content: space-around;
  }

  /* line 760, ../sass/main.scss */
  .proffesional_list .pageTitle-sorting {
    margin-bottom: 30px;
  }
  /* line 764, ../sass/main.scss */
  .proffesional_list .additionalBlock {
    position: relative;
    margin-top: 20px;
  }
  /* line 767, ../sass/main.scss */
  .proffesional_list .additionalBlock a {
    padding: 0 10px;
  }
}
/* line 779, ../sass/main.scss */
.search_auditor .pageTitle h1 {
  font-size: 36px;
  font-weight: normal;
  line-height: 1.33;
  letter-spacing: 0.6px;
  color: #212121;
}

.search_auditor .cost_header {
  padding-left: 210px;
}


.search_auditor input[type=text], .search_auditor input[type=number]{
  height: 30px;
  border-bottom: 1px solid #3b7d9c;
  width: 90%;
  max-width: 310px;
  font-size: 16px;
}
/* line 801, ../sass/main.scss */
.search_auditor textarea {
  max-width: 640px;
  padding: 15px;
  width: 100%;
  height: 120px;
  resize: vertical;
  border: 1px solid #3b7d9c;
  box-shadow: inset 0 1px 3px 0 rgba(0, 53, 78, 0.6);
}
/* line 810, ../sass/main.scss */
.search_auditor .nice-select {
  float: none;
  max-width: 310px;
}
/* line 814, ../sass/main.scss */
.search_auditor .input_block {
  margin-bottom: 25px;
}
/* line 818, ../sass/main.scss */
.search_auditor .small_field input {
  width: 170px;
}
/* line 822, ../sass/main.scss */
.search_auditor .checkbox_block {
  margin-bottom: 15px;
}
/* line 824, ../sass/main.scss */
.search_auditor .checkbox_block a {
  margin-left: 10px;
  padding-left: 22px;
  background: url(../images/ic-question-light-16-x-16-copy-3.png) no-repeat left center;
  position: relative;
  display: inline-block;
  height:16px;
}
/* line 831, ../sass/main.scss */
.search_auditor .showHideBlock {
  width: 100%;
  max-width: 100%;
}
/* line 834, ../sass/main.scss */
.search_auditor .showHideBlock textarea {
  max-width: 100%;
  border: none;
  box-shadow: none;
}
/* line 840, ../sass/main.scss */
.search_auditor .button_block {
  background: #f4f4f4;
  padding: 12px 0;
  text-align: center;
}
/* line 844, ../sass/main.scss */
.search_auditor .button_block a {
  width: 270px;
  height: 48px;
}
/* line 849, ../sass/main.scss */
.search_auditor .additionalBlock {
  top: 215%;
  z-index: 10;
}

@media screen and (max-width: 768px) {
  /* line 856, ../sass/main.scss */
  .search_auditor .cost_header {
    padding-top: 0;
  }
}
@media screen and (max-width: 500px) {
  /* line 863, ../sass/main.scss */
  .search_auditor .cost_header {
    padding-top: 0;
    padding-left: 0;
    background: none;
  }
  /* line 869, ../sass/main.scss */
  .search_auditor .additionalBlock a {
    font-size: 12px;
    padding: 0 25px;
  }
}
/* line 880, ../sass/main.scss */
.search_auditor_wrap {
  text-align: center;
}
/* line 884, ../sass/main.scss */
.search_auditor_wrap .search_auditor_item {
  max-width: 370px;
  width: 100%;
  text-align: center;
  border: solid 1px transparent;
  padding: 18px 0;
  display: inline-block;
}
/* line 890, ../sass/main.scss */
.search_auditor_wrap .search_auditor_item a {
  text-decoration: none;
  display: block;
}
/* line 894, ../sass/main.scss */
.search_auditor_wrap .search_auditor_item:hover {
  border: solid 1px #9cc4d7;
}
/* line 897, ../sass/main.scss */
.search_auditor_wrap .search_auditor_item p {
  margin-top: 22px;
}

/* line 902, ../sass/main.scss */
.search_auditor_title {
  font-size: 38px;
  text-align: center;
  line-height: 1.33;
  letter-spacing: 0.6px;
  font-weight: normal;
}

/* line 913, ../sass/main.scss */
.searchProf_select .searchProf_title {
  margin: 20px auto;
  max-width: 350px;
  width: 100%;
  height: 60px;
  border-radius: 100px;
  border: solid 1px #9bc3d6;
  text-align: center;
  line-height: 60px;
  font-weight: 600;
  letter-spacing: 0.3px;
  color: #212121;
  position: relative;
}
/* line 926, ../sass/main.scss */
.searchProf_select .searchProf_title:before {
  content: '';
  position: absolute;
  left: -35%;
  top: 50%;
  width: 80px;
  height: 27px;
  border-left: 1px solid #9bc3d6;
  border-top: 1px solid #9bc3d6;
}
/* line 936, ../sass/main.scss */
.searchProf_select .searchProf_title:after {
  content: '';
  position: absolute;
  right: -35%;
  top: 50%;
  width: 80px;
  height: 27px;
  border-right: 1px solid #9bc3d6;
  border-top: 1px solid #9bc3d6;
}
/* line 947, ../sass/main.scss */
.searchProf_select .searchProf_select_wrap {
  display: flex;
  justify-content: space-around;
}
/* line 951, ../sass/main.scss */
.searchProf_select .searchProf_select_item {
  width: 100%;
  max-width: 370px;
  text-align: center;
}
/* line 955, ../sass/main.scss */
.searchProf_select .searchProf_select_item .site_button-orange {
  min-width: 140px;
  width: 140px;
  font-size: 14px;
  height: 36px;
  display: block;
  margin: 0 auto;
  line-height: 30px;
}
/* line 964, ../sass/main.scss */
.searchProf_select .searchProf_select_item.solar {
  padding-top: 20px;
}
/* line 967, ../sass/main.scss */
.searchProf_select .searchProf_select_item h3 {
  margin: 20px 0 8px;
}

@media screen and (max-width: 767px) {
  /* line 975, ../sass/main.scss */
  .searchProf_select .searchProf_title:before, .searchProf_select .searchProf_title:after {
    display: none;
  }
  /* line 979, ../sass/main.scss */
  .searchProf_select .searchProf_select_wrap {
    flex-wrap: wrap;
  }
  /* line 982, ../sass/main.scss */
  .searchProf_select .searchProf_select_item.solar {
    margin-bottom: 50px;
  }
}
/* line 992, ../sass/main.scss */
#mainPageHeader h1 {
  line-height: normal;
  margin-bottom: 85px;
}
/* line 995, ../sass/main.scss */
#mainPageHeader h1 span {
  margin-top: 27px;
  font-size: 30px;
}
/* line 999, ../sass/main.scss */
#mainPageHeader h1 strong {
  font-size: 36px;
}
/* line 1003, ../sass/main.scss */
#mainPageHeader .site_button-orange {
  width: 440px;
  height: 64px;
  font-size: 18px;
  padding: 0;
  line-height: normal;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

/* line 1016, ../sass/main.scss */
.top10-intro p a:hover {
  text-decoration: none;
}

@media screen and (max-width: 500px) {
  /* line 1023, ../sass/main.scss */
  #mainPageHeader h1 {
    margin-bottom: 30px;
    padding-top: 30px;
  }
  /* line 1026, ../sass/main.scss */
  #mainPageHeader h1 span {
    margin-top: 0;
    font-size: 23px;
  }
  /* line 1030, ../sass/main.scss */
  #mainPageHeader h1 strong {
    font-size: inherit;
  }
  /* line 1035, ../sass/main.scss */
  #mainPageHeader .site_button-orange {
    width: 280px;
    height: 64px;
    font-size: 18px;
    padding: 0;
    line-height: normal;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
}
/* line 1048, ../sass/main.scss */
.tooltip_info {
  max-width: 300px;
  width: 300px;
  height: auto;
  background: #fbfbfb;
  border: 1px solid #9bc3d6;
  position: absolute;
  left: 130%;
  top: 50%;
  transform: translateY(-50%);
  display: none;
  z-index: 10;
  padding: 5px;
}
/* line 1061, ../sass/main.scss */
.tooltip_info:before {
  content: '';
  display: block;
  left: -12px;
  top: calc(50% - 10px);
  transform: rotate(-45deg);
  width: 20px;
  height: 20px;
  border-top: 1px solid #9bc3d6;
  border-left: 1px solid #9bc3d6;
  background: #fbfbfb;
  position: absolute;
  z-index: -1;
}
/* line 1075, ../sass/main.scss */
.tooltip_info ol {
  padding-left: 25px;
  font-size: 12px;
}
/* line 1078, ../sass/main.scss */
.tooltip_info ol li {
  margin-bottom: 5px;
}
/* line 1082, ../sass/main.scss */
.tooltip_info p {
  font-size: 14px;
  text-align: center;
}
.master_tooltip{
  width: 100%;
  font-size: 11px;
  line-height: 11px;
  left: 0;
  top:75px;
}
.master_tooltip:before{
  left: calc(50% - 5px);
  top: -6px;
  transform: rotate(45deg);
  width: 10px;
  height: 10px;
}
.select-master{
  position: relative;
}
.select-master.disabled:hover .master_tooltip{
  display: block;
}
@media screen and (min-width: 768px) {
  /* line 1090, ../sass/main.scss */
  .search_auditor .checkbox_block {
    margin-bottom: 15px;
  }
  /* line 1094, ../sass/main.scss */
  .search_auditor .checkbox_block a:hover .tooltip_info {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  /* line 1103, ../sass/main.scss */
  .tooltip_info.open {
    display: block;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  /* line 1109, ../sass/main.scss */
  .tooltip_info.open:before {
    display: none;
  }
}
/* line 1115, ../sass/main.scss */
.banner {
  width: 100%;
  max-width: 450px;
  height: 216px;
  background: url(../images/flowing-banner.png) no-repeat center;
  background-size: 100%;
  position: fixed;
  z-index: 10;
  bottom: 0;
  right: 0;
  display: none;
}
/* line 1125, ../sass/main.scss */
.banner .banner_head {
  padding-left: 20px;
  height: 48px;
  color: #fff;
  font-size: 30px;
  font-weight: 300;
  position: relative;
}
/* line 1132, ../sass/main.scss */
.banner .banner_head .close_baner {
  position: absolute;
  top: 4px;
  right: 4px;
  display: block;
  width: 25px;
  height: 25px;
  cursor: pointer;
}
/* line 1142, ../sass/main.scss */
.banner .banner_body {
  padding: 35px 0 50px 142px;
}
/* line 1144, ../sass/main.scss */
.banner .banner_body .name {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.4px;
  color: #727272;
}
/* line 1151, ../sass/main.scss */
.banner .banner_body .phone {
  font-size: 36px;
  line-height: 1.4;
  letter-spacing: 0.6px;
  color: #ea6c21;
  margin-left: 28px;
}

@media screen and (max-width: 455px) {
  /* line 1161, ../sass/main.scss */
  .banner {
    width: 100%;
    max-width: 320px;
    min-width: 320px;
    background: url(../images/flowing-banner.png) no-repeat center;
    background-size: 100%;
    height: 153px;
  }
  /* line 1168, ../sass/main.scss */
  .banner .banner_head {
    height: 35px;
    font-size: 22px;
    padding-left: 10px;
  }
  /* line 1173, ../sass/main.scss */
  .banner .banner_body {
    padding: 16px 0 16px 100px;
  }
  /* line 1175, ../sass/main.scss */
  .banner .banner_body .name {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: 0.4px;
    color: #727272;
  }
  /* line 1182, ../sass/main.scss */
  .banner .banner_body .phone {
    font-size: 23px;
    line-height: 1.3;
  }
}

.house_content {
  display: none;
}
.house_content .site_icon-location{
  margin-bottom: 21px;
  font-weight: 600;
  font-size: 16px;
}

.site_button-orange.disabled {
  background: #ddd;
  border-bottom-color: #ccc;
  color: #aaa;
  cursor: not-allowed;
  pointer-events: none;
}
.select-master.disabled{
  pointer-events: auto;
}
.master-order-filter-nested {
  margin-left: 20px;
}

.admin-master-list-requests-count {
  background: none;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: normal;
  cursor: pointer;
}

.admin-master-list-requests-count:hover {
  text-decoration: underline;
}