.on_hover:hover .visible-registry-document {
    display: block;
}
.on_hover{
    display: inline-block;
    position: relative;
}
.on_hover:after{
    content: '';
    display: block;
    position: absolute;
    width:100px;
    height:20px;
    top:-15px;
}
.btn {
    padding: 0 30px;
    line-height: 44px !important;
    height: 44px !important;
    border-radius: 3px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    margin-right: 30px;
    text-decoration: none;
    display: inline-block;
}
.btn_block .btn-primary {
    background-color: #388edd !important;
    color: #fff;
    width: 220px !important;
    max-width: 100%;
    letter-spacing: 1px;
}
/* line 67, ../sass/new-site.scss */
.btn-primary:hover {
    background-color: #4e9ae1 !important;
}
.btn-secondary {
    background-color: #e6e8ee !important;
    color: #32394a;
    max-width: 160px;
}
/* line 76, ../sass/new-site.scss */
.btn-secondary:hover {
    background-color: #d7dae4 !important;
}
.site-icon-edit {
    background-image: url(../images/new-edit.png);
    background-repeat: no-repeat;
}
.modal-client-master {
    max-width: 400px;
}
/* line 2927, ../sass/new-site.scss */
.modal-client-master .form_block {
    margin-top: 10px;
}
/* line 2929, ../sass/new-site.scss */
.modal-client-master .form_block label {
    font-weight: 100;
    display: block;
    padding: 10px 0;
    text-align: left;
    font-size: 14px;
    color: #32394a;
}
/* line 2935, ../sass/new-site.scss */
.modal-client-master .form_block textarea {
    margin-bottom: 20px;
}
/* line 2939, ../sass/new-site.scss */
.modal-client-master .btn_block {
    display: flex;
    justify-content: space-between;
}
/* line 2942, ../sass/new-site.scss */
.modal-client-master .btn_block .btn {
    margin: 0;
}
/* line 2945, ../sass/new-site.scss */
.modal-client-master .btn_block .btn-secondary {
    margin-right: 30px;
}

.user_block .company-name {
    color: #4d4d4d;
    min-width: 100%;
    max-width: 100%;
}
.user_block .company-name-wrap {
    margin-bottom: 5px;
}
/*.user_block .company-location-wrap{*/
    /*margin-left: -45px;*/
/*}*/
.user_block .company-location {
    color: #9da2af;
    font-size: 14px;
    min-width: 100%;
    max-width: 100%;
}
.user_block .site_icon-location{
    background-position: 14px -2px;
}
.user_block {
    /*display: flex;*/
    height: 115px;
    padding: 0 ;
    background: #f8f9fc !important;
}
/* line 2953, ../sass/new-site.scss */
.user_block .company-img {
    margin-right: 40px;
    min-width: 95px;
    min-height: 95px;
    max-width: 95px;
    max-height: 95px;
    border: 1px solid #cfd3dc;
    border-radius: 3px;
}
/* line 2957, ../sass/new-site.scss */
.user_block .company-img img {
    width: 100%;
    height: 100%;
    border-radius: 3px;
}
/* line 2962, ../sass/new-site.scss */
.user_block .company-name {
    font-weight: 600;
    text-align: left;
}
/* line 2966, ../sass/new-site.scss */
.user_block .company-region {
    text-align: left;
}
.company-name-location{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


textarea{
    display: block;
    border: 1px solid #cfd3dc !important;
    border-radius: 2px;
    width: 100%;
    height: 90px !important;
    background: #ffffff !important;
    font-size: 16px;
    padding: 10px;
}
.modal-client-master .btn_block{
    display: flex;
    justify-content: space-between;
}
.modal-client-master .btn_block .btn {
    padding: 0 30px;
    display: inline-block;
    border: 0;
    letter-spacing: .3px;
}

#header .container{
    padding: 0 10px;
}
.main-footer .container{
    background: #346f8a;
    padding: 0 10px;
}
.svg-icon-wrap {
    background: #ffffff;
    width: 45px;
    height: 45px;
    position: absolute;
    left: -17px;
    top: -18px;
    border-radius: 50%;
}
.content-container {
    background: #fff;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.content-container h1 {
    font-family: Open Sans;
    display: block;
    font-size: 2em;
    font-weight: bold;
    color: #212121;
    line-height: 1.25;
}
.content-container h2 {
    color: #212121;
    text-transform: none;
    position: inherit;
}
.content-container p, .content-container strong {
    font-size: 16px;
}
.map {
    height: 300px;
}
ul{
    list-style-type: none;
}
.content-container .alert {
    padding: 20px;
    padding-left: 50px;
    border: 2px dotted;
    background-position: 15px 15px;
    background-repeat: no-repeat;
}
.content-container .alert p {
    font-weight: 300;
}
/* line 377, ../sass/new-site.scss */
.content-container .alert strong {
    display: block;
}
.master-block {
    padding-left: 165px;
    position: relative;
    width: calc(100% - 310px);
}

/* line 1859, ../sass/new-site.scss */
.master-photo {
    position: absolute;
    top: 0;
    left: 0;
    width: 140px;
    height: 140px;
    border: 1px solid #cfd3dc;
    border-radius: 2px;
}
/* line 1865, ../sass/new-site.scss */
.master-photo img {
    border-radius: 2px;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}
.master-office-item {
    display: none;
    justify-content: space-between;
    margin-top: 20px;
    height: 230px;
}
/* line 2449, ../sass/new-site.scss */
.master-office-item .map {
    width: 70%;
    height: 100%;
    margin-top: 0;
}

/* line 1871, ../sass/new-site.scss */
h1.master-name {
    margin-bottom: 5px;
    text-transform: none;
    color: #656565;
    font-weight: 500;
    font-size: 27px;
    width: 50%;
}

/* line 1875, ../sass/new-site.scss */
.master-review-link {
    font-weight: 300;
    font-size: 18px;
}
/* line 1877, ../sass/new-site.scss */
.master-review-link a {
    color: #32394a;
    font-weight: 400;
    text-decoration: underline;
}
/* line 1882, ../sass/new-site.scss */
.master-review-link span {
    color: #e05a5a;
    font-weight: 400;
}

/* line 1888, ../sass/new-site.scss */
.master-works {
    margin-bottom: 10px;
    padding-left: 5px;
    font-size: 18px;
}
.master-block-wrap {
    position: relative;
}
/* line 2124, ../sass/new-site.scss */
.master-block-wrap .master-block {
    margin-bottom: 25px;
}
/* line 2126, ../sass/new-site.scss */
.master-block-wrap .master-block a {
    padding: 3px 5px;
    display: inline-block;
    text-decoration: underline;
    color: #404656;
}
/* line 2132, ../sass/new-site.scss */
.master-block-wrap .master-block .site-icon-edit {
    padding: 8px;
}
/* line 2136, ../sass/new-site.scss */
.master-block-wrap .no-news {
    padding-top: 10px;
}
/* line 2139, ../sass/new-site.scss */
.master-block-wrap .alerts {
    float: right;
    top: -160px;
    position: relative;
    margin-bottom: -90px;
    right: 0;
    width: 375px;
}
/* line 2145, ../sass/new-site.scss */
.master-block-wrap .master-check {
    border-color: #92b32c;
    position: relative;
    /*background-image: url(../images/attention.png);*/
    margin-bottom: 25px;
    z-index: 1;
    padding-bottom: 45px;
}
/* line 2152, ../sass/new-site.scss */
.master-block-wrap .master-check svg {
    position: absolute;
    top: -11px;
    left: -14px;
}
/* line 2158, ../sass/new-site.scss */
.master-block-wrap .master-check:after {
    content: '';
    display: block;
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    z-index: -1;
    background: #f4f7e9;
}
/* line 2169, ../sass/new-site.scss */
.master-block-wrap .master-check strong {
    color: #92b32c;
    font-weight: 600;
    padding: 0 20px 15px;
}
/* line 2175, ../sass/new-site.scss */
.master-block-wrap .master-contacts {
    border-color: #f29a55;
    position: relative;
    background-image: url(../images/attention.png);
    margin-bottom: 35px;
    z-index: 1;
    padding-left: 75px;
}
/* line 2182, ../sass/new-site.scss */
.master-block-wrap .master-contacts svg {
    position: absolute;
    top: 10px;
    left: 20px;
}
/* line 2187, ../sass/new-site.scss */
.master-block-wrap .master-contacts:after {
    content: '';
    display: block;
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    z-index: -1;
    background: #fef5ee;
}
/* line 2198, ../sass/new-site.scss */
.master-block-wrap .master-contacts strong {
    color: #32394a;
    font-weight: 600;
    padding-top: 0;
    margin-bottom: 10px;
}
/* line 2205, ../sass/new-site.scss */
.master-block-wrap .master-description {
    width: calc(100% - 400px);
}
/* line 2207, ../sass/new-site.scss */
.master-block-wrap .master-description p {
    margin-bottom: 20px;
    line-height: 1.4;
    word-wrap: break-word;
    white-space: pre-wrap;
}
/* line 2213, ../sass/new-site.scss */
.master-block-wrap .master-news {
    max-width: 375px;
    background: #DFEEFB;
    position: relative;
    z-index: 1;
    padding: 20px 25px 20px;
}
.master-news-visible{
    display: none;
}
/* line 2220, ../sass/new-site.scss */
.master-block-wrap .master-news h3 {
    font-size: 18px;
    color: #32394a;
}
/* line 2224, ../sass/new-site.scss */
.master-block-wrap .master-news a {
    font-size: 14px;
    text-decoration: underline;
    color: #418ac9;
    display: block;
    margin-top: 20px;
}
/* line 2232, ../sass/new-site.scss */
.master-block-wrap .master-box {
    position: relative;
    min-height: 390px;
}
.master-block-wrap .master-box.unchecked-master-box{
    min-height: 190px;
}
/* line 2239, ../sass/new-site.scss */
.master-block-wrap .master-message a {
    padding: 0 30px;
    text-decoration: none;
    color: #ffffff;
    background: #388edd;
}

/* line 2246, ../sass/new-site.scss */
.svg-icon-wrap {
    background: #ffffff;
    width: 45px;
    height: 45px;
    position: absolute;
    left: -17px;
    top: -18px;
    border-radius: 50%;
}

/* line 2256, ../sass/new-site.scss */
.master-office {
    margin-bottom: 30px;
    clear: both;
}
/* line 2258, ../sass/new-site.scss */
.master-office h2 {
    margin-bottom: 0;
    padding: 20.5px 50px 20.5px 0;
    line-height: 1.5;
    color: #32394a;
    font-size: 18px;
    cursor: pointer;
    border-bottom: 1px solid #d5d8df;
    position: relative;
}
/* line 2267, ../sass/new-site.scss */
.content-container .master-office h2:after {
    content: '';
    position: absolute;
    top: 35%;
    margin-right: 20px;
    border-right: 1px solid #4b505d;
    transform: rotate(45deg);
    width: 1px;
    height: 15px;
    right: 6px;
    transition: .5s all;
}
/* line 2279, ../sass/new-site.scss */
.content-container .master-office h2:before {
    content: '';
    position: absolute;
    top: 35%;
    margin-right: 20px;
    border-left: 1px solid #4b505d;
    transform: rotate(-45deg);
    width: 1px;
    height: 15px;
    right: 16px;
    left: auto;
    transition: .5s all;
}
/* line 2292, ../sass/new-site.scss */
.master-office h2:first-child {
    border-top: 1px solid #d5d8df;
}
/* line 2295, ../sass/new-site.scss */
.master-office span {
    font-size: 18px;
    color: #818899;
}

/* line 2302, ../sass/new-site.scss */
.content-container .master-office-location.active:after {
    transform: rotate(-45deg);
    transition: .5s all;
}
/* line 2306, ../sass/new-site.scss */
.content-container .master-office-location.active:before {
    transform: rotate(45deg);
    transition: .5s all;
}

/* line 2312, ../sass/new-site.scss */
.master-office-item {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
/* line 2316, ../sass/new-site.scss */
.master-office-item .map {
    width: 70%;
    margin-top: 0;
}
/* line 2321, ../sass/new-site.scss */
.master-office-item .master-office-photo {
    position: relative;
    width: 25%;
    height: 100%;
    overflow: hidden;
}
.master-office-item .master-office-photo img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}
/* line 2324, ../sass/new-site.scss */
/*.master-office-item .master-office-photo img {*/
    /*width: 100%;*/
    /*height: 100%;*/
/*}*/

/* line 2332, ../sass/new-site.scss */
.contact-wrap li {
    margin-bottom: 7px;
}
/* line 2334, ../sass/new-site.scss */
.contact-wrap li .contact-number {
    font-weight: 600;
}
/* line 2337, ../sass/new-site.scss */
.contact-wrap li a {
    text-decoration: underline;
}

/* line 2343, ../sass/new-site.scss */
.master-info-list {
    margin-bottom: 40px;
}
/* line 2345, ../sass/new-site.scss */
.master-info-list li {
    display: flex;
    align-items: center;
    color: #575d6b;
}
/* line 2349, ../sass/new-site.scss */
.master-info-list li .green_mark {
    margin-left: -15px;
    padding-right: 51px;
}
/* line 2353, ../sass/new-site.scss */
.master-info-list li .custom-company-build {
    display: block;
    padding-bottom: 30px;
}
/* line 2357, ../sass/new-site.scss */
.master-info-list li a {
    text-decoration: none;
    border-bottom: 1px dashed #4e92cd;
    color: #4e92cd;
    margin-right: 5px;
}
.master-info-list li a:hover .visible-registry-document{
    display: block;
}

/* line 2365, ../sass/new-site.scss */
.visible-registry-document {
    display: none;
    padding: 25px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.4);
    position: absolute;
    z-index: 2;
    /*left: 205px;*/
    /*top: -73px;*/
    top: -115px;
    width: 300px;
    height: 100px;
    background: #ffffff;
}
.visible-registry-document:hover{
    display: block;
}
    /* line 2378, ../sass/new-site.scss */
.visible-registry-document:before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    transform: rotate(45deg);
    bottom: -7px;
    background-color: #ffffff;
}
/* line 2387, ../sass/new-site.scss */
.visible-registry-document span {
    text-decoration: underline;
}

/* line 2393, ../sass/new-site.scss */
.master-info-list ul {
    margin-bottom: 25px;
    position: relative;
}

/* line 2399, ../sass/new-site.scss */
.master-info-map {
    width: 50%;
}

/* line 2403, ../sass/new-site.scss */
.alert-info {
    border-color: #afd2f1;
    color: #4b5160;
    padding: 15px 25px;
    margin-right: 30px;
}
/* line 2408, ../sass/new-site.scss */
.alert-info strong {
    font-weight: 600;
    margin-bottom: 7px;
    padding-top: 15px;
}
/* line 2413, ../sass/new-site.scss */
.alert-info h3 {
    font-weight: 600;
}
/* line 2416, ../sass/new-site.scss */
.alert-info span {
    margin-right: 5px;
}

/* line 2421, ../sass/new-site.scss */
.master-info {
    display: flex;
    justify-content: space-between;
    clear: both;
}
/* line 2424, ../sass/new-site.scss */
.master-info h3 {
    font-size: 18px;
}
/* line 2427, ../sass/new-site.scss */
.master-info .master-info-map, .master-info .master-info-list {
    width: 50%;
}

/* line 2432, ../sass/new-site.scss */
.master-info-map {
    margin-bottom: 20px;
}
/* line 2434, ../sass/new-site.scss */
.master-info-map h3 {
    font-weight: 600;
    margin-bottom: 25px;
}



/* line 2452, ../sass/new-site.scss */
.master-order {
    margin-bottom: 60px;
}
/* line 2454, ../sass/new-site.scss */
.master-order h3 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 25px;
}

/* line 2461, ../sass/new-site.scss */
.master-order-item {
    display: flex;
    justify-content: center;
}
/* line 2464, ../sass/new-site.scss */
.master-order-item .order-item {
    padding: 25px 30px;
    width: 33%;
    background: #f2f4f7;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    font-size: 14px;
}
/* line 2473, ../sass/new-site.scss */
.master-order-item .item-place {
    box-shadow: -40px 0px 41px -24px rgba(0, 0, 0, 0.2);
}
/* line 2476, ../sass/new-site.scss */
.master-order-item .item-cost {
    box-shadow: -40px 0px 41px -24px rgba(0, 0, 0, 0.2);
}

/* line 2481, ../sass/new-site.scss */
.price-project {
    color: #92b32c;
    display: block;
    padding-left: 13px;
    font-size: 16px;
    font-weight: 600;
}

/* line 2490, ../sass/new-site.scss */
.master-reviews h2 {
    font-size: 18px;
    margin-bottom: 25px;
}

/* line 2496, ../sass/new-site.scss */
.master-review-item {
    display: flex;
    margin-bottom: 13px;
}

/* line 2501, ../sass/new-site.scss */
.item-name {
    width: 20%;
    padding: 17px 27px;
    font-weight: 600;
}

/* line 2507, ../sass/new-site.scss */
.item-text {
    width: 60%;
    padding: 25px 30px;
    font-weight: 100;
    font-style: Italic;
    box-shadow: -40px 0px 41px -24px rgba(163, 163, 163, 0.2);
}

/* line 2515, ../sass/new-site.scss */
.item-project {
    width: 20%;
    padding: 25px 30px;
    box-shadow: -40px 0px 41px -24px rgba(163, 163, 163, 0.2);
}
/* line 2519, ../sass/new-site.scss */
.item-project p {
    font-weight: 600;
    padding-bottom: 10px;
}
/* line 2523, ../sass/new-site.scss */
.item-project a {
    display: block;
    text-decoration: underline;
    color: #32394a;
    margin-bottom: 15px;
}
/* line 2529, ../sass/new-site.scss */
.item-project .price-project {
    padding-left: 0;
}

/* line 2535, ../sass/new-site.scss */
.master-review-positive {
    background: #f9fbf4;
}

/* line 2539, ../sass/new-site.scss */
.date-review {
    background: transparent;
    color: #81899d;
    font-size: 14px;
    padding-left: 32px;
    font-weight: 400;
}

/* line 2547, ../sass/new-site.scss */
.assessment {
    color: #ffffff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    line-height: 22px;
    margin-right: 10px;
    width: 22px;
    height: 22px;
}

/* line 2558, ../sass/new-site.scss */
.positive-rewiew {
    background: #92b32c;
}

/* line 2562, ../sass/new-site.scss */
.negative-rewiew {
    background: #e07b7b;
}

/* line 2566, ../sass/new-site.scss */
.master-review-negative {
    background: #fdf4f3;
}

/* line 2570, ../sass/new-site.scss */
.master-build {
    margin-bottom: 50px;
}
/* line 2572, ../sass/new-site.scss */
.master-build h3 {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 25px;
}
/* line 2577, ../sass/new-site.scss */
.master-build .build-commercial {
    display: flex;
    align-items: center;
    margin-right: 55px;
}
/* line 2581, ../sass/new-site.scss */
.master-build .build-commercial svg {
    margin-right: 10px;
}
/* line 2585, ../sass/new-site.scss */
.master-build .build-home {
    display: flex;
    align-items: center;
}
/* line 2588, ../sass/new-site.scss */
.master-build .build-home svg {
    margin-right: 10px;
}

/* line 2594, ../sass/new-site.scss */
.master-build-item {
    display: flex;
    margin-bottom: 20px;
}

/* line 2599, ../sass/new-site.scss */
.master-portfolio {
    padding-bottom: 60px;
    position: relative;
    overflow: hidden;
}
/* line 2603, ../sass/new-site.scss */
.master-portfolio h3 {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 25px;
}
/* line 2608, ../sass/new-site.scss */
.master-portfolio .slider-arrow {
    position: absolute;
    top: 50%;
    z-index: 1;
    transform: translateY(-50%);
    color: #fff;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.6);
}
/* line 2620, ../sass/new-site.scss */
.master-portfolio .slider-arrow-left {
    left: -20px;
    text-align: right;
}
/* line 2623, ../sass/new-site.scss */
.master-portfolio .slider-arrow-left svg {
    margin-right: 14px;
    margin-top: 17px;
}
/* line 2628, ../sass/new-site.scss */
.master-portfolio .slider-arrow-right {
    right: -20px;
    text-align: left;
}
/* line 2631, ../sass/new-site.scss */
.master-portfolio .slider-arrow-right svg {
    margin-left: 14px;
    margin-top: 17px;
}
/*.visible-registry-document.document-fop{*/
    /*left: 205px;*/
/*}*/
/*.visible-registry-document.document-edrpou{*/
    /*left: 250px;*/
/*}*/

.show-photo:hover .visible-photo {
    display: block;
    position: absolute;
}

/* line 2982, ../sass/new-site.scss */
.remodal .photo-car {
    width: 100%;
    height: 100%;
}

/* line 2987, ../sass/new-site.scss */
.visible-photo {
    display: none;
    max-width: 520px;
    max-height: 320px;
    height: 320px;
    width: 100%;
    /*height: 100%;*/
    /*position: fixed;*/
    position: absolute;
    z-index: 2;
    /*top: 50%;*/
    top: -160px;
    transform: translateY(-50%);
    left: 50%;
    bottom: 0;
    right: 0;
}
.st0 {
    fill: #EDEEF3;
}

/* line 2022, ../sass/new-site.scss */
.active-region {
    fill: #418ac9;
}
.slider-portfolio {
    max-height: 225px;
    overflow: hidden;
    height: 100vh;
}
/* line 2444, ../sass/new-site.scss */
.slider-portfolio img {
    max-width: 275px;
    height: 100%;
    width: 100%;
    border-radius: 2px;
}

.master-block {
    width: 100%;
}

/* line 3016, ../sass/new-site.scss */
.master-info {
    display: flex;
    justify-content: space-between;
    /*margin-top: 175px;*/
}

/* line 3020, ../sass/new-site.scss */
.master-block-wrap {
    padding-bottom: 40px;
}
.master-info-list {
    margin-bottom: 40px;
}
/* line 2345, ../sass/new-site.scss */
.master-info-list li {
    display: flex;
    align-items: center;
    color: #575d6b;
    padding: 7px 0 7px 35px;
    position: relative;
}
/* line 2349, ../sass/new-site.scss */
.master-info-list li .green_mark {
    padding-top: 3px;
    left: 0;
    top: auto;
}
/* line 2353, ../sass/new-site.scss */
.master-info-list li .custom-company-build {
    display: block;
    padding-bottom: 30px;
}
/* line 2357, ../sass/new-site.scss */
.master-info-list li a {
    text-decoration: none;
    border-bottom: 1px dashed #4e92cd;
    color: #4e92cd;
}

/*POPUP*/
.modal-client-mail.modal-client-master {
    max-width: 490px !important;
    padding: 0;
    border-radius: 3px;
}
.modal_body{
    padding: 20px 45px 40px;
}
.modal_body .user_block{
    background: #f8f9fc;
    padding: 10px 15px;
    display: flex;
    align-items: center;
}
.modal-client-master .form_block input{
    border: 1px solid #cfd3dc;
    background: #ffffff;
    border-radius: 3px;
    padding: 13px 15px;
    height: auto;
    width: 100%;
}
.modal-client-mail.modal-client-master .modal_header{
    background: #33394b;
    padding: 35px 45px;
}
.modal-client-mail.modal-client-master .modal_header p{
    font-weight: 600;
    color: #ffffff;
    text-align: center;
}
.g-recaptcha {
    margin: 15px 0;
}

.mfp-gallery .mfp-content {
    padding-top: 0;
}


@media screen and (max-width: 992px) {
    .content-container .master-office h2:before {
        display: block;
    }
    .master-block {
        width: 100%;
    }
    .master-block-wrap .master-box {
        min-height: 100%;
    }

    /* line 3016, ../sass/new-site.scss */
    .master-info {
        flex-direction: column;
        max-width: 550px;
    }
    .master-block-wrap .alerts {
        position: relative;
        width: 100%;
        top: 0;
    }
    /* line 80, ../sass/media.scss */
    .master-block-wrap .master-description {
        width: 100%;
    }

    /* line 3020, ../sass/new-site.scss */
    .master-block-wrap {
        padding-bottom: 40px;
    }
    /* line 3022, ../sass/new-site.scss */
    .master-block-wrap .master-box {
        min-height: 100%;
    }
    /* line 3025, ../sass/new-site.scss */
    .master-block-wrap .master-news {
        position: relative;
        width: 50%;
        max-width: 100%;
        top: 0;
    }
    /* line 3031, ../sass/new-site.scss */
    .master-block-wrap .alerts {
        position: relative;
        width: 100%;
        max-width: 100%;
        display: flex;
        margin-bottom: 25px;
    }
    /* line 3038, ../sass/new-site.scss */
    .master-block-wrap .master-check {
        width: 50%;
        margin-right: 30px;
        margin-bottom: 0;
    }
    /* line 3043, ../sass/new-site.scss */
    .master-block-wrap .master-contacts {
        width: 50%;
        margin-bottom: 0;
    }
    /* line 3046, ../sass/new-site.scss */
    .master-block-wrap .master-contacts svg {
        top: 3px;
    }

    /* line 3051, ../sass/new-site.scss */
    .alert-info {
        margin-right: 0;
    }

    /* line 3055, ../sass/new-site.scss */
    .master-order-item .item-object, .master-order-item .item-place {
        width: 32%;
    }
    /* line 3058, ../sass/new-site.scss */
    .master-order-item .item-cost {
        width: 36%;
    }

    /* line 3062, ../sass/new-site.scss */
    .item-name, .item-project {
        width: 25%;
        padding: 17px 10px;
    }

    /* line 3066, ../sass/new-site.scss */
    .item-text {
        width: 50%;
        padding: 17px 10px;
    }

    /* line 3071, ../sass/new-site.scss */
    .master-info .master-info-list, .master-info .master-info-map {
        width: 100%;
    }
    .verified-alert-master-wrap {
        display: flex;
    }

    /* line 87, ../sass/media.scss */
    .verified-master-check {
        width: 50%;
        margin-right: 30px;
    }

    /* line 91, ../sass/media.scss */
    .verified-master-contacts {
        width: 50%;
    }

    /* line 94, ../sass/media.scss */
    .master-news-visible.verified-master-news {
        display: block;
        width: 100%;
        max-width: 100%;
    }

    /* line 99, ../sass/media.scss */
    .verified-master-news {
        display: none;
    }

    /* line 103, ../sass/media.scss */
    .unchecked-alerts {
        display: flex;
    }

    /* line 106, ../sass/media.scss */
    .unchecked-alert-master-wrap {
        width: 50%;
        margin-right: 30px;
    }
    /* line 109, ../sass/media.scss */
    .unchecked-alert-master-wrap .unchecked-master-contacts {
        width: 100%;
    }
    /* line 112, ../sass/media.scss */
    .unchecked-alert-master-wrap .unchecked-master-news {
        width: 50%;
    }
}
@media screen and (max-width: 767px) {
    .container{
        padding: 10px;
    }
    .master-office-item {
        flex-direction: column;
    }
    /* line 129, ../sass/media.scss */
    .master-office-item .map {
        width: 100%;
        margin-bottom: 15px;
    }
    /* line 133, ../sass/media.scss */
    .master-office-item .master-office-photo {
        width: 100%;
    }

    .master-review-item {
        flex-direction: column;
    }
    .master-order-item {
        flex-direction: column;
        margin-bottom: 25px;
    }
    /* line 3243, ../sass/new-site.scss */
    .master-order-item .order-item {
        margin-bottom: 0;
    }
    /* line 3246, ../sass/new-site.scss */
    .master-order-item .item-object, .master-order-item .item-place, .master-order-item .item-cost {
        width: 100%;
    }
    /* line 3249, ../sass/new-site.scss */
    .master-order-item .item-place {
        box-shadow: inset 0 35px 41px -24px rgba(163, 163, 163, 0.2);
    }
    /* line 3252, ../sass/new-site.scss */
    .master-order-item .item-cost {
        box-shadow: inset 0 35px 41px -24px rgba(163, 163, 163, 0.2);
    }

    /* line 3256, ../sass/new-site.scss */
    .item-name, .item-project {
        width: 100%;
    }

    /* line 3259, ../sass/new-site.scss */
    .item-text, .item-project {
        width: 100%;
        box-shadow: inset 0 35px 41px -24px rgba(163, 163, 163, 0.2);
    }
}

@media screen and (max-width: 650px) {
    .master-block {
        max-width: 100%;
        width: 100%;
    }
    .verified-alert-master-wrap {
        flex-direction: column;
    }
    /* line 244, ../sass/media.scss */
    .verified-alert-master-wrap .verified-master-check {
        width: 100%;
        margin-bottom: 20px;
    }
    /* line 248, ../sass/media.scss */
    .verified-alert-master-wrap .verified-master-contacts {
        width: 100%;
    }

    /* line 254, ../sass/media.scss */
    .master-block-wrap .unchecked-master-news {
        display: none;
    }

    /* line 258, ../sass/media.scss */
    .unchecked-alert-master-wrap {
        width: 100%;
        margin-right: 0;
    }

    /* line 262, ../sass/media.scss */
    .master-news-visible.unchecked-master-news {
        display: block;
        width: 100%;
        max-width: 100%;
    }
}
@media screen and (max-width: 480px) {
    /* line 271, ../sass/media.scss */
    .master-block-wrap .master-check svg {
        left: -5px;
    }
}
@media screen and (max-width: 425px) {
    /* line 278, ../sass/media.scss */
    .master-block {
        padding-left: 0;
        max-width: 100%;
        width: 100%;
    }
    /* line 282, ../sass/media.scss */
    .master-block .master-photo {
        position: relative;
        height: 170px;
        width: 100%;
        margin-bottom: 15px;
    }
    .master-photo img{
        width: 170px;
        height: 170px;
        min-width: 170px;
        min-height: 170px;
        padding: 15px;
    }
    .master-block-wrap .master-message a{
        width: 100%;
    }
}