@media screen and (min-width: 993px) {
  /* line 6, ../sass/media.scss */
  .hidden-md {
    display: none;
  }

  /* line 9, ../sass/media.scss */
  .hidden-sm {
    display: block;
  }
}
@media screen and (max-width: 992px) {
  /* line 15, ../sass/media.scss */
  .hidden-sm {
    display: none !important;
  }

  /* line 19, ../sass/media.scss */
  .main-header {
    padding: 0;
  }

  /* line 22, ../sass/media.scss */
  .cabinet-page {
    padding-left: 55px;
  }
  /* line 25, ../sass/media.scss */
  .cabinet-page.sidebar-hidden .sidebar {
    width: 300px;
  }
  /* line 28, ../sass/media.scss */
  .cabinet-page.sidebar-hidden .sidebar .menu-item a, .cabinet-page.sidebar-hidden .sidebar .logout-item a {
    font-size: 14px;
  }
  /* line 30, ../sass/media.scss */
  .cabinet-page.sidebar-hidden .sidebar .menu-item a .arrow, .cabinet-page.sidebar-hidden .sidebar .logout-item a .arrow {
    display: block;
  }

  /* line 38, ../sass/media.scss */
  .sidebar {
    width: 55px;
  }
  /* line 41, ../sass/media.scss */
  .sidebar .menu-item a, .sidebar .logout-item a {
    font-size: 0;
  }
  /* line 43, ../sass/media.scss */
  .sidebar .menu-item a .arrow, .sidebar .logout-item a .arrow {
    display: none;
  }
  /* line 48, ../sass/media.scss */
  .sidebar:hover, .sidebar.hidden {
    width: 300px;
  }
  /* line 51, ../sass/media.scss */
  .sidebar:hover .menu-item a, .sidebar:hover .logout-item a, .sidebar.hidden .menu-item a, .sidebar.hidden .logout-item a {
    font-size: 14px;
  }
  /* line 53, ../sass/media.scss */
  .sidebar:hover .menu-item a .arrow, .sidebar:hover .logout-item a .arrow, .sidebar.hidden .menu-item a .arrow, .sidebar.hidden .logout-item a .arrow {
    display: block;
  }

  /* line 61, ../sass/media.scss */
  .main-footer .copyright {
    position: absolute;
    left: 20px;
    z-index: 50;
  }

  /* line 67, ../sass/media.scss */
  .footer-contacts {
    width: 100%;
    justify-content: space-between;
  }
  /* line 70, ../sass/media.scss */
  .footer-contacts .site_icon-mail-white {
    margin-left: 25px;
  }

  /* line 76, ../sass/media.scss */
  .master-block-wrap .alerts {
    position: relative;
    width: 100%;
  }
  /* line 80, ../sass/media.scss */
  .master-block-wrap .master-description {
    width: 100%;
  }

  /* line 84, ../sass/media.scss */
  .verified-alert-master-wrap {
    display: flex;
  }

  /* line 87, ../sass/media.scss */
  .verified-master-check {
    width: 50%;
    margin-right: 30px;
  }

  /* line 91, ../sass/media.scss */
  .verified-master-contacts {
    width: 50%;
  }

  /* line 94, ../sass/media.scss */
  .master-news-visible.verified-master-news {
    display: block;
    width: 100%;
    max-width: 100%;
  }

  /* line 99, ../sass/media.scss */
  .verified-master-news {
    display: none;
  }

  /* line 103, ../sass/media.scss */
  .unchecked-alerts {
    display: flex;
  }

  /* line 106, ../sass/media.scss */
  .unchecked-alert-master-wrap {
    width: 50%;
    margin-right: 30px;
  }
  /* line 109, ../sass/media.scss */
  .unchecked-alert-master-wrap .unchecked-master-contacts {
    width: 100%;
  }
  /* line 112, ../sass/media.scss */
  .unchecked-alert-master-wrap .unchecked-master-news {
    width: 50%;
  }
}
@media screen and (max-width: 768px) {
  /* line 122, ../sass/media.scss */
  .main-footer .footer-contacts .site_icon-mail-white {
    margin-left: 0;
  }

  /* line 127, ../sass/media.scss */
  .master-office-item {
    flex-direction: column;
  }
  /* line 129, ../sass/media.scss */
  .master-office-item .map {
    width: 100%;
    margin-bottom: 15px;
  }
  /* line 133, ../sass/media.scss */
  .master-office-item .master-office-photo {
    width: 100%;
  }

  /* line 137, ../sass/media.scss */
  .cabinet-portfolio {
    padding: 10px;
  }

  /* line 140, ../sass/media.scss */
  .btn {
    padding: 0 18px;
  }
}
@media screen and (max-width: 700px) {
  /* line 146, ../sass/media.scss */
  .logo-wrap {
    width: 100%;
  }

  /* line 149, ../sass/media.scss */
  .cabinet-page {
    padding-left: 0;
    padding-bottom: 144px;
  }
  /* line 152, ../sass/media.scss */
  .cabinet-page.sidebar-hidden {
    padding-left: 0;
  }
  /* line 154, ../sass/media.scss */
  .cabinet-page.sidebar-hidden .sidebar {
    transform: translateX(0);
    width: 100%;
    bottom: auto;
  }

  /* line 161, ../sass/media.scss */
  .sidebar {
    width: 300px;
    transform: translateX(-100%);
    transition: transform ease .3s;
    bottom: auto;
  }
  /* line 166, ../sass/media.scss */
  .sidebar .menu-item a, .sidebar .logout-item a {
    font-size: 14px;
  }
  /* line 168, ../sass/media.scss */
  .sidebar .menu-item a .arrow, .sidebar .logout-item a .arrow {
    display: block;
  }

  /* line 175, ../sass/media.scss */
  .cabinet-item h2 span {
    display: block;
  }

  /* line 180, ../sass/media.scss */
  .cabinet-page-wrap {
    padding: 10px;
  }

  /* line 183, ../sass/media.scss */
  .cabinet-item {
    padding: 10px;
  }

  /* line 186, ../sass/media.scss */
  .btn {
    width: 100%;
    margin: 5px 0;
    max-width: 100%;
  }

  /* line 192, ../sass/media.scss */
  .inputfile-styled .input-file {
    width: 100%;
    margin-bottom: 20px;
  }

  /* line 198, ../sass/media.scss */
  .service-region .styled-checkbox {
    width: 100%;
  }

  /* line 202, ../sass/media.scss */
  .main-footer {
    display: block;
    height: auto;
    text-align: center;
    padding-left: 20px;
  }
  /* line 207, ../sass/media.scss */
  .main-footer .copyright {
    padding: 20px 0;
    border-bottom: 1px solid #3b4253;
    position: relative;
    left: 0;
  }

  /* line 214, ../sass/media.scss */
  .footer-contacts {
    flex-direction: column;
    padding: 12px 0;
  }
  /* line 217, ../sass/media.scss */
  .footer-contacts > div {
    padding: 7px 0;
    padding-left: 20px;
    margin: 0;
  }

  /* line 223, ../sass/media.scss */
  .remodal {
    padding: 15px;
  }
}
@media screen and (max-width: 650px) {
  /* line 230, ../sass/media.scss */
  .cabinet-equipment .equipment-list {
    flex-direction: column;
    align-items: flex-start;
  }
  /* line 233, ../sass/media.scss */
  .cabinet-equipment .equipment-list .type-equipment, .cabinet-equipment .equipment-list .brand-equipment {
    margin-bottom: 30px;
    max-width: 100%;
  }

  /* line 240, ../sass/media.scss */
  .master-block {
    max-width: 100%;
    width: 100%;
  }

  /* line 244, ../sass/media.scss */
  .btn {
    margin-bottom: 20px;
  }

  /* line 248, ../sass/media.scss */
  .verified-alert-master-wrap {
    flex-direction: column;
  }
  /* line 250, ../sass/media.scss */
  .verified-alert-master-wrap .verified-master-check {
    width: 100%;
    margin-bottom: 20px;
  }
  /* line 254, ../sass/media.scss */
  .verified-alert-master-wrap .verified-master-contacts {
    width: 100%;
  }

  /* line 260, ../sass/media.scss */
  .master-block-wrap .unchecked-master-news {
    display: none;
  }

  /* line 264, ../sass/media.scss */
  .unchecked-alert-master-wrap {
    width: 100%;
    margin-right: 0;
  }

  /* line 268, ../sass/media.scss */
  .master-news-visible.unchecked-master-news {
    display: block;
    width: 100%;
    max-width: 100%;
  }

  /* line 276, ../sass/media.scss */
  .cabinet-profile .table-block {
    border: none;
  }

  /* line 281, ../sass/media.scss */
  .status-table thead {
    display: none;
  }
  /* line 284, ../sass/media.scss */
  .status-table .open-table {
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    transform-origin: center;
    transform: translateY(-50%) rotate(-90deg);
  }
  /* line 292, ../sass/media.scss */
  .status-table .open-table.arrow-transform {
    transform: translateY(-50%) rotate(90deg);
    transform-origin: center;
  }
  /* line 296, ../sass/media.scss */
  .status-table .tr_id {
    display: flex;
    flex-direction: column;
    border: 1px solid #d5d8df;
    border-radius: 3px;
    margin-bottom: 10px;
  }
  /* line 302, ../sass/media.scss */
  .status-table .tr_id td {
    border-bottom: 1px solid #d5d8df;
    padding: 17px 0;
    margin: 0 20px;
  }
  /* line 307, ../sass/media.scss */
  .status-table .tr_id td:nth-child(1) {
    order: 1;
    display: none !important;
  }
  /* line 311, ../sass/media.scss */
  .status-table .tr_id td:nth-child(2) {
    order: 0;
    border: 0;
    position: relative;
  }
  /* line 315, ../sass/media.scss */
  .status-table .tr_id td:nth-child(2):after {
    position: absolute;
    content: '';
    width: 1px;
    height: 30px;
    right: 35px;
    top: 50%;
    transform: translateY(-50%);
    background: #d5d8df;
  }
  /* line 326, ../sass/media.scss */
  .status-table .tr_id td:nth-child(3) {
    order: 2;
    display: none !important;
  }
  /* line 330, ../sass/media.scss */
  .status-table .tr_id td:nth-child(4) {
    order: 4;
    display: none !important;
  }
  /* line 334, ../sass/media.scss */
  .status-table .tr_id td:nth-child(5) {
    order: 3;
    display: none !important;
  }
  /* line 338, ../sass/media.scss */
  .status-table .tr_id td:nth-child(6) {
    order: 5;
    border: 0;
    padding: 0 !important;
  }
  /* line 343, ../sass/media.scss */
  .status-table .tr_id .comment-admin {
    display: none;
  }
  /* line 346, ../sass/media.scss */
  .status-table .tr_id .accept-application {
    position: absolute;
    top: 164px;
    left: 45px;
  }
  /* line 351, ../sass/media.scss */
  .status-table .tr_id .site-icon-edit {
    position: absolute;
    top: 18px;
    right: 65px;
    display: block !important;
  }
  /* line 356, ../sass/media.scss */
  .status-table .tr_id .site-icon-edit:before {
    position: absolute;
    content: '';
    width: 1px;
    height: 30px;
    right: 35px;
    top: 50%;
    transform: translateY(-50%);
    background: #d5d8df;
  }
  /* line 369, ../sass/media.scss */
  .status-table .tr_id.active td {
    display: block !important;
  }
  /* line 372, ../sass/media.scss */
  .status-table .tr_id.active .comment-admin {
    display: block;
    padding: 17px 0;
  }

  /* line 381, ../sass/media.scss */
  .filter-order form {
    position: relative;
  }
  /* line 383, ../sass/media.scss */
  .filter-order form .open-table {
    right: 0;
    top: 0;
    padding: 15px;
    transform-origin: center;
    transform: rotate(90deg);
  }
  /* line 390, ../sass/media.scss */
  .filter-order form .open-table.arrow-transform {
    transform: rotate(-90deg);
  }

  /* line 397, ../sass/media.scss */
  .filter-order.active .formsetfilter_type_subcategory, .filter-order.active .formsetfilter_type_home {
    display: block;
  }

  /* line 401, ../sass/media.scss */
  .open-table {
    display: block;
  }

  /* line 405, ../sass/media.scss */
  .filter-order .filter-radio {
    display: block;
    width: 100%;
  }
  /* line 409, ../sass/media.scss */
  .filter-order p {
    display: none;
  }
  /* line 412, ../sass/media.scss */
  .filter-order .formsetfilter_type_subcategory, .filter-order .formsetfilter_type_home {
    padding: 10px 0;
  }

  /* line 419, ../sass/media.scss */
  .filter-order .filter-radio {
    position: relative;
  }
  /* line 422, ../sass/media.scss */
  .filter-order .formsetfilter_type_subcategory, .filter-order .formsetfilter_type_home {
    display: none;
  }

  /* line 426, ../sass/media.scss */
  .filter-order [type="radio"]:checked + label {
    display: block;
    width: 100%;
  }

  /* line 430, ../sass/media.scss */
  .filter-order [type="radio"]:checked + label:after {
    display: none;
  }

  /* line 435, ../sass/media.scss */
  .table-block-filter .tr_id {
    display: flex;
    flex-direction: column;
    border: 1px solid #d5d8df;
    border-radius: 3px;
    margin-bottom: 10px;
  }
  /* line 441, ../sass/media.scss */
  .table-block-filter .tr_id td {
    border-bottom: 1px solid #d5d8df;
    padding: 15px 0;
    margin: 0 20px;
    display: flex;
  }
  /* line 447, ../sass/media.scss */
  .table-block-filter .tr_id .table-address {
    padding-left: 25px;
  }
  /* line 449, ../sass/media.scss */
  .table-block-filter .tr_id .table-address svg {
    left: 0;
  }
  /* line 453, ../sass/media.scss */
  .table-block-filter .tr_id td:nth-child(1) {
    order: 1;
    display: none !important;
  }
  /* line 457, ../sass/media.scss */
  .table-block-filter .tr_id td:nth-child(2) {
    order: 0;
    padding-right: 28px;
    margin: 0 10px;
    border: 0;
    position: relative;
  }
  /* line 464, ../sass/media.scss */
  .table-block-filter .tr_id td:nth-child(3) {
    order: 2;
    display: none !important;
  }
  /* line 468, ../sass/media.scss */
  .table-block-filter .tr_id td:nth-child(4) {
    order: 4;
    border-bottom: 0;
    display: none !important;
  }
  /* line 473, ../sass/media.scss */
  .table-block-filter .tr_id td:nth-child(5) {
    order: 3;
    display: none !important;
  }

  /* line 479, ../sass/media.scss */
  .open-table {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%) rotate(-90deg);
  }

  /* line 487, ../sass/media.scss */
  .table-block-filter .tr_id.active td {
    display: flex !important;
  }
  /* line 490, ../sass/media.scss */
  .table-block-filter .tr_id.active td:nth-child(2) {
    border-bottom: 1px solid #d5d8df;
  }

  /* line 496, ../sass/media.scss */
  .table-block-filter .open-table.arrow-transform {
    transform-origin: center;
    transform: translateY(-50%) rotate(90deg);
  }

  /* line 502, ../sass/media.scss */
  .set-date, .set-invertor, .set-panel, .set-executor, .set-settings {
    text-align: left;
  }

  /* line 508, ../sass/media.scss */
  .portfolio-table .table-block {
    border: 0;
  }

  /* line 513, ../sass/media.scss */
  .table-portfolio .open-table.arrow-transform {
    transform: translateY(-50%) rotate(90deg);
    transform-origin: center;
  }

  /* line 519, ../sass/media.scss */
  .table-portfolio .tr_id {
    position: relative;
    margin-bottom: 10px;
    border: 1px solid #cfd3dc;
    display: block;
    border-radius: 3px;
  }
  /* line 525, ../sass/media.scss */
  .table-portfolio .tr_id td {
    padding: 17px 0 !important;
    margin: 0 15px 0 15px !important;
  }
  /* line 528, ../sass/media.scss */
  .table-portfolio .tr_id td a {
    text-decoration: none;
    color: #32394a;
    display: inline-block;
  }
  /* line 534, ../sass/media.scss */
  .table-portfolio .tr_id td:nth-child(3) {
    order: 1;
    display: none !important;
  }
  /* line 538, ../sass/media.scss */
  .table-portfolio .tr_id td:nth-child(2) {
    order: 4;
    border-bottom: 0;
    display: none !important;
  }
  /* line 543, ../sass/media.scss */
  .table-portfolio .tr_id td:nth-child(4) {
    order: 2;
    display: none !important;
  }
  /* line 547, ../sass/media.scss */
  .table-portfolio .tr_id td:nth-child(1) {
    order: 0;
    padding-right: 28px;
    margin: 0 10px;
    border: 0;
    position: relative;
    display: block !important;
  }
  /* line 554, ../sass/media.scss */
  .table-portfolio .tr_id td:nth-child(1):after {
    position: absolute;
    content: '';
    width: 1px;
    height: 30px;
    right: 35px;
    top: 50%;
    transform: translateY(-50%);
    background: #d5d8df;
  }
  /* line 565, ../sass/media.scss */
  .table-portfolio .tr_id td:nth-child(5) {
    order: 3;
    display: none !important;
  }
  /* line 569, ../sass/media.scss */
  .table-portfolio .tr_id td:nth-child(6) {
    order: 3;
    display: none !important;
  }
  /* line 573, ../sass/media.scss */
  .table-portfolio .tr_id td:nth-child(7) {
    order: 3;
    padding: 0 !important;
  }
  /* line 576, ../sass/media.scss */
  .table-portfolio .tr_id td:nth-child(7) a {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 65px;
  }
  /* line 581, ../sass/media.scss */
  .table-portfolio .tr_id td:nth-child(7) a:before {
    position: absolute;
    content: '';
    width: 1px;
    height: 30px;
    right: 35px;
    top: 50%;
    transform: translateY(-50%);
    background: #d5d8df;
  }
  /* line 595, ../sass/media.scss */
  .table-portfolio .tr_id.active td {
    display: block !important;
  }
  /* line 598, ../sass/media.scss */
  .table-portfolio .tr_id.active td:nth-child(2) {
    border: 0;
  }
  /* line 601, ../sass/media.scss */
  .table-portfolio .tr_id.active td:nth-child(7) {
    display: none;
    border: 0;
  }
  /* line 604, ../sass/media.scss */
  .table-portfolio .tr_id.active td:nth-child(7) a {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  /* line 617, ../sass/media.scss */
  .master-block-wrap .master-check svg {
    left: -5px;
  }

  /* line 621, ../sass/media.scss */
  .form-portfolio {
    flex-direction: column;
    max-height: 100%;
  }
  /* line 624, ../sass/media.scss */
  .form-portfolio .set-panel-photo {
    width: 100%;
    max-height: 250px;
    margin-bottom: 15px;
    overflow: hidden;
  }
  /* line 630, ../sass/media.scss */
  .form-portfolio .set-invertor-photo {
    width: 100%;
    max-height: 250px;
    overflow: hidden;
  }

  /* line 637, ../sass/media.scss */
  #hellopreloader_preload .preloader {
    top: 55%;
  }
}
@media screen and (max-width: 425px) {
  /* line 644, ../sass/media.scss */
  .master-block {
    padding-left: 0;
    max-width: 100%;
    width: 100%;
  }
  /* line 648, ../sass/media.scss */
  .master-block .master-photo {
    position: relative;
    width: 100%;
    height: 100%;
  }
}
@media screen and (max-width: 380px) {
  /* line 657, ../sass/media.scss */
  .table-portfolio .tr_id td a {
    max-width: 150px;
  }
}
