#hellopreloader > p {
    display: none;
}
#hellopreloader_preload {
    display: block;
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*min-width: 1000px;*/
    background: rgba(44, 62, 80, 0.8) url(http://hello-site.ru//main/images/preloads/puff.svg) center center no-repeat;
    background-size: 41px;
    background-position: 50% 40%;
}
.preloader{
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 24px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #f4f4f4;
}

