
//FAQ PAGE
.title_block{
  padding: 59px 0;
  background: #f4f4f4;
  h1{
    font-size: 48px;
    font-weight: 600;
    letter-spacing: 1.2px;
    text-align: center;
    color: #ea6c21;
  }
  .i_know{
    margin-top:35px;
    text-align: center;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.3px;
    color: #212121;
    font-weight:600;
    a{
      margin-left: 10px;
      vertical-align: middle;
      border-radius: 3px;
      border: solid 2px #ea6c21;
      height:36px;
      width:200px;
      font-size: 14px;
      letter-spacing: 1px;
      line-height:31px;
    }
  }
}
.collapsible_wrap{
  width:95%;
  max-width: 970px;
  margin:65px auto;
  text-align: left;
}
.faq_block{
  text-align: center;
  padding-bottom:70px;
  .site_button-orange{
    width:270px;
  }
  ul{
    padding-left:30px;
    list-style-type: none;
    >
    li{
      position: relative;
      &:before{
        content: '-';
        position: absolute;
        top:4px;
        left:-20px;
        font-size:30px;
        line-height:10px;
      }
    }
  }
}
.collapsible{
  font-size:16px;
  text-decoration: underline;
  line-height: 1.5;
  letter-spacing: 0.3px;
  color: #212121;
  position: relative;
  padding: 10px 0 10px 40px;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  border-bottom: 1px solid #d9d9d9;
  cursor: pointer;
  span{
    position: absolute;
    top:10px;
    left:5px;
    svg{
      -webkit-transition: all .5s;
      -moz-transition: all .5s;
      -ms-transition: all .5s;
      -o-transition: all .5s;
      transition: all .5s;
    }
  }
  &.collapse-open{
    background-color: #f4f4f4;
    border-bottom: none;
    border-top: 1px solid #d9d9d9;
    span{
      svg{
        fill: rgb(235, 108, 32);
      }
    }
  }
  &.collapse-close{
    span{
      svg{
        transform: rotate(90deg);
        g{
          fill: rgb(204, 204, 204) !important;
        }
      }
    }
  }
}
.collapsible_info{
  background-color: #f4f4f4;
  border-bottom: 1px solid #d9d9d9;
  padding: 15px 100px;
  line-height: 1.5;
  letter-spacing: 0.4px;
  text-align: left;
  color: #212121;
  ol{
    margin:24px 0;
    padding-left: 20px;
  }
  li{
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 768px){
  .title_block{
    h1{
      font-size:34px;
    }
  }
  .collapsible_info{
    padding: 15px 50px;
  }
}
@media screen and (max-width: 480px){
  .title_block{
    h1{
      font-size:24px;
    }
  }
  .collapsible{
    font-size:14px;
  }
  .collapsible_info{
    padding: 15px 20px;
    font-size: 12px;
  }
}
//FAQ PAGE END

//Specialist list page
.table_page{
  .title{
    margin: 58px 0 26px;
    font-size: 36px;
    font-weight: normal;
    line-height: 1.33;
    letter-spacing: 0.6px;
    color: #212121;
  }
}
.table_wrap{
  width:100%;
  overflow-x: scroll;
}
.filter_block{
  border: 1px solid #9bc3d6;
  padding:15px 30px 36px;
  margin-bottom: 36px;
  display: flex;
  justify-content: flex-start;
  .select_wrap{
    margin-right:50px;
  }
  .status{
    width:100%;
    max-width: 190px;
  }
  .specialization{
    width:100%;
    max-width: 300px;
  }
  .region{
    width:100%;
    max-width: 200px;
  }
  label{
    font-size: 12px;
    color: #727272;
    text-transform: uppercase;
    margin-bottom: 8px;
    display: block;
  }

  
}
.tablesorter{
  border-collapse: collapse;
  font-size:16px;
  color: #212121;
  thead{
    border: solid 1px #ea6c21;
    height: 60px;
    box-shadow: 0 19px 5px -12px rgba(0, 0, 0, 0.2);
    font-weight:600;
    cursor: pointer;
    span{
      position: relative;
      padding: 4px 0;
      padding-right:10px;
    }
    .small_title{
      letter-spacing: 0.2px;
      color: #727272;
      font-size: 12px;
      font-weight:400;
      padding-right:6px;
    }
    tr{
      height: 30px;
    }
  }
  .thead_style{
    th{
      border-left: solid 1px #ea6c21;

    }
    .name{
      width:497px;
      text-align: left;
      padding-left:15px;
      border-left:none;
    }
    .registration_date{
      width:120px;
    }
    .checkbox_table{
      padding-left: 10px;
    }
    .edit_date{
      width:120px;
    }
    .sending{
      width:182px;
    }
    .request{
      width:248px;
    }

  }
  .arrow{
    right:-4px;
    top: calc(50% - 6px);
    position: absolute;
    display: block;
    width:8px;
    height:12px;
    padding:0;
    &:before{
      content: '';
      position: absolute;
      display: block;
      top: 0;
      right: 0;
      width: 0;
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-bottom: 5px solid #727272;
    }
    &:after{
      content: '';
      position: absolute;
      display: block;
      bottom: 0;
      right: 0;
      width: 0;
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-top: 5px solid #727272;
    }
  }
  .desc{
    .arrow{
      &:after{
        border-top: 5px solid #eb6c20;
      }
    }
  }
  .asc{
    .arrow{
      &:before{
        border-bottom: 5px solid #eb6c20;
      }
    }
  }
  tbody{
    letter-spacing: 0.3px;
    color: #212121;
    td{
      position: relative;
      padding:17px 17px 26px;
      &:first-child{
        padding-left: 25px;
        padding-right:0;
      }
      a{
        text-decoration: none;
        &:hover{
          text-decoration: underline;
        }
      }
    }
    tr{
      &:nth-child(even){
        background-color: #f5f7f7;
      }
    }
  }
  .wrap_name{
    margin-bottom: 7px;
  }
  .wrap_time{
    color: #727272;
  }
  .checkbox_wrap{
    position: absolute;
    top: 20px;
    left:10px;
  }
  .sanding_icon{
    svg{
      *{
        fill:#EB6C20 !important;
      }
    }
    &.disabled{
      svg{
        *{
          fill:#d9d9d9 !important;
        }
      }
    }
  }
}
.control_table_block{
  margin: 30px 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .export_base{
    svg{
      vertical-align: middle;
      margin-right:10px;
    }
    a{
      &:hover{
        text-decoration: none;
      }
    }
  }
  .show_in_page{
    display: flex;
    align-items: center;
  }
  .amount_page{
    width: 218px;
    height: 32px;
    border-radius: 3px;
    border: solid 1px #9bc3d6;
    display: flex;
    margin-left:10px;
    a{
      text-decoration: none;
      flex-grow:1;
      text-align: center;
      line-height: 30px;
      &:hover{
        color: #fff;
        background: #ea6c21;
      }
      &.active{
        color: #fff;
        background: #ea6c21;
      }
    }
  }
}
@media screen and (max-width: 992px) {
  .filter_block{
    display: block;
    .select_wrap{
      margin: 20px auto;
      max-width: 300px;
    }
    .nice-select{
      float: none;
      width:100%;
      .current{
        width: 100%;
        display: block;
        overflow: hidden;
      }
      .list{
        width:100%;
      }
    }
  }
  .control_table_block{
    flex-wrap: wrap;
    justify-content: space-around;
    .pagesNav{
      width:100%;
    }
    .export_base{
      order:2;
    }
    .show_in_page{
      order: 1;
    }
  }
}
@media screen and (max-width: 640px) {
  .export_base{
    margin-top:20px;
  }
  .show_in_page{
    width:100%;
  }
}
@media screen and (max-width: 400px) {
  .filter_block {
    .nice-select {
      font-size: 12px;
      .option{
        padding-left: 10px;
      }
    }
  }
}
//Specialist list page END

//Audit_privat
.projectCat-audit-privat{
  >.container{
    background-image: url(../images/pic-privat-house.png);
  }
}
.contentBlock{
  .project_photo{
    margin-bottom:30px;
  }
  li{
    span{
      font-weight:600;
    }
  }
}


.client_comment{
  padding-left: 47px;
  background: url(../images/ico-client-comment.png) no-repeat 0 5px;
  h4{
    font-size:20px;
  }
}
@media screen and (max-width: 767px){
  .projectCat-audit-privat{
    >.container{
      background-image:none;
    }
  }
}
//Audit_privat END

//my_fee page
.fee-desc .container{
  padding-right: 296px;
}
.site_table {
  &.comission{
    .title{
      margin-bottom:5px;
      font-size:18px;
      font-weight: 600;
      line-height: 1.33;
      letter-spacing: 0.3px;
    }
    table{
      border: solid 2px #f5f7f7;
    }
    td{
      padding: 14px 20px;
      height:48px;
    }
    .td_title, .td_price{
      width:50%;
      text-align: left;
      span{
        font-size: 12px;
        color: #727272;
        display: block;
      }
    }
  }
}
.nbu_comission{
  background: url(../images/info.png) no-repeat left center;
  padding-left:35px;
  margin: 20px 0 25px;
}
.attention{
  display: block;
  font-weight:600;
}
.site_table_wrap{
  width:100%;
  max-width:870px;
}
@media screen and (max-width: 767px){
  .fee-desc .container {
    width: 100%;
    padding: 0 2%;
  }
  .site_table {
    &.comission{
      .td_title, .td_price{
        width: 100%;
      }
      td{
        height:auto;
      }
    }
  }
}
//my_fee page END

//cost_estimation_offline_station page
.estimated_cost_block{
  width:100%;
  max-width: 510px;
  margin:35px auto;
  padding-left: 40px;
  background: url(../images/ic-info-48-px.png) no-repeat center left;
  .estimated_cost{
    display: inline-block;
    width: 213px;
    height: 36px;
    border: solid 1px #eb6c20;
    font-weight:600;
    text-align: center;
    font-size:18px;
    padding: 5px 0px;
    margin-left:10px;
  }
}
@media screen and (max-width: 600px){
  .estimated_cost_block{
    max-width:280px;
    .estimated_cost{
      margin-left:0;
      margin-top:10px;
    }
  }
}
//cost_estimation_offline_station page END

//My_applications
.order_list_wrap{
  display: flex;
  justify-content: space-between;
  .order_list{
    width:870px;
    .applicationTable{
      td{
        width: auto;
      }
    }
  }
  h1{
    font-size: 36px;
    line-height: 1.33;
    letter-spacing: 0.6px;
    color: #212121;
    font-weight:normal;
  }
  .pageTitle {
    margin-bottom: 15px;
  }

}
.pageTitle-sorting{
  position: relative;
  width: 240px;
  height: 300px;
  border: solid 1px #ea6c21;
  right: 0;
  top: 0;
  font-size:16px;
  margin-top: 23px;
  margin-left:20px;
  h3{
    font-size: 24px;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: 0.4px;
    color: #212121;
    padding-bottom: 15px;
    border-bottom: 1px solid #d9d9d9;
    margin: 10px 20px;
  }
  ul{
    list-style-type: none;
  }
  li{
    a{
      display: block;
      padding: 8px 0 8px 65px;
      position: relative;
      &:hover{
        text-decoration: none;
      }
      &.active{
        background-color: #eb6c20;
        text-decoration: none;
        color: #fff;
        svg{
          g{
            fill: #fff !important;
          }
        }
      }
    }
    svg{
      position: absolute;
      left:25px;
      top:50%;
      margin-top:- 12px;
      g{
        fill: #cccccc !important;
      }
    }
  }
  .select_mark{
    padding:0 20px;
    margin-top:20px;
    position: relative;
    p{
      width: 145px;
      font-size:12px;
      color: #727272;
      line-height: 1.67;
      letter-spacing: 0.3px;
    }
    label{
      position: absolute;
      top: 15px;
      right: 20px;
    }
  }
}
@media screen and (max-width: 992px){
  .order_list_wrap{
    flex-wrap: wrap;
    .order_list{
      order:1;
    }
  }
}
//My_applications END
//public_info
.services_block{
  padding-left:42px;
  background: url(../images/ic-map-grey-24-x-24.png) no-repeat left top;
  .services_input{
    border: solid 1px #d9d9d9;
    padding:20px 20px 10px;
    label{
      margin-bottom:10px;
    }
  }
}
//public_info END

//proffesional_list
.proffesional_list{
  h1{
    font-size: 36px;
    font-weight: normal;
    line-height: 1.33;
    letter-spacing: 0.6px;
    color: #212121;
  }
  .pageTitle{
    padding-bottom:25px;
    border-bottom:1px solid #d9d9d9;
    margin-bottom:30px;
  }
  .additionalBlock{
    margin-top: -31px;
  }
  .pageTitle-sorting{
    margin-top:0;
    margin-left:0;
    margin-right:20px;
    width:300px;
    height:337px;
  }

}
.proffesional_list_wrap{
  display: flex;
  justify-content: space-between;
  .workersList{
    width:770px;
  }
  .app-item-author_info {
    width: 95%;
    h3{
      max-width: 60%;
    }
  }
  .site_icon-energy{
    background-image: url(../images/ic-wind-energy-24-x-24.png);
  }
  .filterWorkers{
    padding:0 25px;
    margin-top:15px;
    .label{
      font-size: 12px;
      font-weight: normal;
      letter-spacing: 0.2px;
      color: #727272;
      text-transform: uppercase;
    }
    .nice-select{
      float: none;
    }
    .field_remark{
      margin-top: 5px;
    }
  }
}
@media screen and (max-width: 1100px){
  .proffesional_list{
    .additionalBlock{
      position: relative;
      margin-top:20px;
    }
  }
}
@media screen and (max-width: 994px){
  .proffesional_list_wrap{
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .proffesional_list{
    .pageTitle-sorting{

      margin-bottom:30px;
    }
    .additionalBlock{
      position: relative;
      margin-top:20px;
      a{
        padding:0 10px;
      }
    }
  }

}
//proffesional_list END

//search_auditor
.search_auditor{
  .pageTitle{
    h1{
      font-size: 36px;
      font-weight: normal;
      line-height: 1.33;
      letter-spacing: 0.6px;
      color: #212121;
    }
  }
  .cost_header{
    padding-left: 210px;
    background-image: url(../images/pic-privat-house.png);
    p{
      width:260px;
    }
  }
  input[type=text] {
    height: 30px;
    border-bottom: 1px solid #3b7d9c;
    width: 90%;
    max-width: 310px;
    font-size: 16px;
  }
  textarea {
    max-width: 640px;
    padding: 15px;
    width: 100%;
    height: 120px;
    resize: vertical;
    border: 1px solid #3b7d9c;
    box-shadow: inset 0 1px 3px 0 rgba(0, 53, 78, 0.6);
  }
  .nice-select{
    float: none;
    max-width: 310px;
  }
  .input_block{
    margin-bottom:25px;
  }
  .small_field{
    input{
      width:170px;
    }
  }
  .checkbox_block{
    margin-bottom: 15px;
    a{
      margin-left: 10px;
      padding-left:22px;
      background: url(../images/ic-question-light-16-x-16-copy-3.png) no-repeat left center;
    }
  }
  .showHideBlock{
    width:100%;
    max-width: 100%;
    textarea{
      max-width: 100%;
      border: none;
      box-shadow: none;
    }
  }
  .button_block{
    background: #f4f4f4;
    padding:12px 0;
    text-align: center;
    a{
      width:270px;
      height:48px;
    }
  }
  .additionalBlock{
    top: 215%;
    z-index:10;
  }
}
@media screen and (max-width: 768px){
  .search_auditor{
    .cost_header{
      padding-top: 0;
    }
  }
}
@media screen and (max-width: 500px){
  .search_auditor{
    .cost_header{
      padding-top: 0;
      padding-left:0;
      background: none;
    }
    .additionalBlock{
      a{
        font-size:12px;
        padding: 0 25px;
      }
    }
  }

}
//search_auditor END

//search_auditor 1step
.search_auditor_wrap{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  .search_auditor_item{
    max-width:370px;
    width:100%;
    text-align: center;
    border: solid 1px transparent;
    padding: 18px 0;
    a{
      text-decoration: none;
      display: block;
    }
    &:hover{
      border: solid 1px #9cc4d7;
    }
    p{
      margin-top:22px;
    }
  }
}
.search_auditor_title{
  font-size:38px;
  text-align: center;
  line-height: 1.33;
  letter-spacing: 0.6px;
  font-weight: normal;
}
//search_auditor 1step END

//search proffesional category
.searchProf_select{
  .searchProf_title{
    margin: 20px auto;
    max-width: 350px;
    width:100%;
    height: 60px;
    border-radius: 100px;
    border: solid 1px #9bc3d6;
    text-align: center;
    line-height:60px;
    font-weight: 600;
    letter-spacing: 0.3px;
    color: #212121;
    position: relative;
    &:before{
      content: '';
      position: absolute;
      left: -35%;
      top: 50%;
      width: 80px;
      height:27px;
      border-left: 1px solid #9bc3d6;
      border-top:1px solid #9bc3d6;
    }
    &:after{
      content: '';
      position: absolute;
      right: -35%;
      top: 50%;
      width: 80px;
      height:27px;
      border-right: 1px solid #9bc3d6;
      border-top:1px solid #9bc3d6;
    }
  }
  .searchProf_select_wrap{
    display: flex;
    justify-content: space-around;
  }
  .searchProf_select_item{
    width:100%;
    max-width: 370px;
    text-align: center;
    .site_button-orange{
      min-width: 140px;
      width:140px;
      font-size:14px;
      height:36px;
      display: block;
      margin: 0 auto;
      line-height: 30px;
    }
    &.solar{
      padding-top:20px;
    }
    h3{
      margin: 20px 0 8px;
    }
  }
}
@media screen and (max-width: 767px){
  .searchProf_select{
    .searchProf_title{
      &:before, &:after{
        display: none;
      }
    }
    .searchProf_select_wrap{
      flex-wrap: wrap;
    }
    .searchProf_select_item.solar{
      margin-bottom:50px;
    }
  }
}
//search proffesional category END


//index page
#mainPageHeader{
  h1{
    line-height:normal;
    margin-bottom:85px;
    span{
      margin-top: 27px;
      font-size:30px;
    }
    strong{
      font-size:36px;
    }
  }
  .site_button-orange{
    width:280px;
    height: 64px;
    font-size:18px;
    padding: 0;
    line-height: normal;
    display: inline-flex;
    align-items: center;
    justify-content: center
  }
}
.top10-intro p{
  a{
    &:hover{
      text-decoration: none;
    }
  }
}
@media screen and (max-width: 500px){
  #mainPageHeader{
    h1{
      margin-bottom:30px;
      padding-top:30px;
      span{
        margin-top: 0;
        font-size:23px;
      }
      strong{
        font-size:inherit;

      }
    }
    .site_button-orange{
      width:280px;
      height: 64px;
      font-size:18px;
      padding: 0;
      line-height: normal;
      display: inline-flex;
      align-items: center;
      justify-content: center
    }
  }
}
//index page END


//banner
.banner{
  width:100%;
  max-width: 450px;
  height:216px;
  background: url(../images/flowing-banner.png) no-repeat center;
  background-size:100%;
  position: fixed;
  z-index:10;
  bottom: 0;
  right:0;
  .banner_header{
    padding-left:20px;
    height:48px;
    color: #fff;
    font-size:30px;
    font-weight:300;
    position: relative;
    .close_baner{
      position: absolute;
      top: 4px;
      right: 4px;
      display: block;
      width: 25px;
      height: 25px;
      cursor: pointer;
    }
  }
  .banner_body{
    padding:34px 0 50px 142px;
    .name{
      font-size: 24px;
      font-weight: 600;
      line-height: 1.5;
      letter-spacing: 0.4px;
      color: #727272;
    }
    .phone{
      font-size: 36px;
      line-height: 1.4;
      letter-spacing: 0.6px;
      color: #ea6c21;
      margin-left:28px;
    }
  }
}
@media screen and (max-width: 455px){
  .banner{
    width:100%;
    max-width: 320px;
    min-width: 320px;
    background: url(../images/flowing-banner.png) no-repeat center;
    background-size:100%;
    height:153px;
    .banner_header{
      height:35px;
      font-size:22px;
      padding-left:10px;
    }
    .banner_body{
     padding:16px 0 16px 100px;
      .name{
        font-size: 24px;
        font-weight: 600;
        line-height: 1.5;
        letter-spacing: 0.4px;
        color: #727272;
      }
      .phone{
        font-size: 23px;
        line-height:1.3;
      }
    }
  }
}
//banner END